
<div class="page-content">
  <div class="container">
    <div class="schedule">
      <h3>{{ page.title }}
        <p><a href="/schedule">Back to schedule list</a></p>
      </h3>
      <table class="table">
        <thead>
          <th class="text-center">
            <h4>(room)</h4>
          </th>
          <th class="text-center">
            <h4>AM 1</h4>
          </th>
          <th class="text-center">
            <h4>PM 1</h4>
          </th>
          <th class="text-center">
            <h4>PM 2</h4>
          </th>
          <th class="text-center">
            <h4>PM 3</h4>
          </th>
          <th class="text-center">
            <h4>Evening</h4>
          </th>
          <th class="text-center">
            <h4>(no-time)</h4>
          </th>
        </thead>
        <tr>{% assign room = 'Room-1'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'Room-2'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'Room-3'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'Room-4'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'Room-5'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'Villa-1'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
        <tr>{% assign room = 'no-location'  %}{% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
          <td>
            <h4>{{ room }}</h4>
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'AM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-1'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-2'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'PM-3'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'Eve'  %}
          </td>
          <td>{% for session in day_Data[time]              %}
            <div><a href="{{session.url}}">{{ session.name }}</a></div>
            <div class="track-info">{{ time}} : {{ session.track }}</div>{% endfor                                     %}{% assign time = 'no-time'  %}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>