
<div class="page-content">
  <div class="schedule">
    <h3>{{ page.title }}</h3>
    <hr/>
    <ul><b>
        Daily Schedule: &#32;&#32;&#32;
        {% assign day_Text = 'Monday' %}
        {% assign day_Key  = 'Mon'     %}{% if page.day == day_Key %}<span class="day_Title">{{ day_Text }}</span>{% else %}<a href="./{{ day_Key }}.html">{{ day_Text }}</a>{% endif %}<span>&#32;|&#32;</span>{% assign day_Text = 'Tuesday' %}
        {% assign day_Key  = 'Tue'     %}{% if page.day == day_Key %}<span class="day_Title">{{ day_Text }}</span>{% else %}<a href="./{{ day_Key }}.html">{{ day_Text }}</a>{% endif %}<span>&#32;|&#32;</span>{% assign day_Text = 'Wednesday' %}
        {% assign day_Key  = 'Wed'     %}{% if page.day == day_Key %}<span class="day_Title">{{ day_Text }}</span>{% else %}<a href="./{{ day_Key }}.html">{{ day_Text }}</a>{% endif %}<span>&#32;|&#32;</span>{% assign day_Text = 'Thursday' %}
        {% assign day_Key  = 'Thu'     %}{% if page.day == day_Key %}<span class="day_Title">{{ day_Text }}</span>{% else %}<a href="./{{ day_Key }}.html">{{ day_Text }}</a>{% endif %}<span>&#32;|&#32;</span>{% assign day_Text = 'Friday' %}
        {% assign day_Key  = 'Fri'     %}{% if page.day == day_Key %}<span class="day_Title">{{ day_Text }}</span>{% else %}<a href="./{{ day_Key }}.html">{{ day_Text }}</a>{% endif %}<span>&#32;|&#32;</span></b><br/><br/><span>See &#32;</span><a href="/pages/schedule/summit-schedule.html">Full Schedule</a><span>&#32;|&#32;See Sessions &#32;</span><a href="/pages/schedule/by-room/Mon.html">by Room</a><span>&#32;|&#32;</span><a href="/pages/schedule/by-track/Mon.html">by Track</a>
      <!--b Daily Schedule: &#32;&#32;&#32;-->
      <!--a(href='./Mon.html'   ) Monday-->
      <!--span &#32;|&#32;-->
      <!--a(href='./Tue.html'  ) Tuesday-->
      <!--span &#32;|&#32;-->
      <!--a(href='./Wed.html') Wednesday-->
      <!--span &#32;|&#32;-->
      <!--a(href='./Thu.html' ) Thursday-->
      <!--span &#32;|&#32;-->
      <!--a(href='./Fri.html'   ) Friday-->
      <!--span &#32;|&#32;Back to &#32;-->
      <!--a(href='/pages/schedule') Schedule list-->
    </ul>
    <hr/>
    <table class="table">
      <thead>
        <th class="text-center"><b>location</b></th>
        <th class="text-center">
          <h4>AM 1</h4>
          <div class="day-time">10:00 to 12:00</div>
        </th>
        <th class="text-center">
          <h4>PM 1</h4>
          <div class="day-time">13:00 to 14:30</div>
        </th>
        <th class="text-center">
          <h4>PM 2</h4>
          <div class="day-time">14:30 to 15:40</div>
        </th>
        <th class="text-center">
          <h4>PM 3</h4>
          <div class="day-time">16:00 to 17:30</div>
        </th>
        <th class="text-center">
          <h4>Evening</h4>
          <div class="day-time">20:00 to 23:59</div>
        </th>
        <th class="text-center">
          <h4>(no-time)</h4>
        </th>
      </thead>
      <tr>{% assign room = 'Room-1'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Room-2'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Room-3'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Room-4'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Room-5'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Room-6'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Villa-1'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Villa-2'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'Villa-3'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
      <tr>{% assign room = 'no-location'  %}{% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
        <td class="text-center">
          <div class="room-name">{{ site.data.venue[room].name }}</div>
          <div class="room-key">{{ room }}</div>
        </td>
        <td>{% assign time = 'AM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-1'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-2'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'PM-3'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'Eve'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
        <td>{% assign time = 'no-time'  %}{% for session in day_Data[time]              %}
          <div><a href="{{session.url}}">{{ session.name }}</a>{% if session.locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}</div>
          <div class="track-info">{{ session.track }}</div>{% endfor                                     %}
        </td>
      </tr>
    </table>
  </div>
</div>