
{% assign workshops               = site.pages | where: 'type', 'workshop' %}
{% assign workshops-scheduled     = workshops | where_exp: 'item', 'item.when-day != null' %}
{% assign workshops-not-scheduled = workshops | where_exp: 'item', 'item.when-day == null'%}
<pre>{{ workshops.size }}</pre>
<div class="page-content">
  <div class="container">
    <div class="schedule">
      <h3>Summit schedule</h3>
      <p><a href="/schedule">Back to schedule list</a></p>
      <table class="table">
        <thead>
          <th class="text-center">
            <h4>Monday</h4>
          </th>
          <th class="text-center">
            <h4>Tuesday</h4>
          </th>
          <th class="text-center">
            <h4>Wednesday</h4>
          </th>
          <th class="text-center">
            <h4>Thursday</h4>
          </th>
          <th class="text-center">
            <h4>Friday</h4>
          </th>
        </thead>
        <tr>
          <td>{% assign day = 'Mon'  %}
            <ul>
              {% for page in workshops-scheduled      %}
              {%  if page.when-day == day   %}<a href="{{page.url}}">{{ page.title }}</a>
              <!--.track &#32; ({{ page.track}})-->
              <hr/>{%    endif                   %}
              {% endfor                     %}
            </ul>
          </td>
          <td>{% assign day = 'Tue'  %}
            <ul>
              {% for page in workshops-scheduled      %}
              {%  if page.when-day == day   %}<a href="{{page.url}}">{{ page.title }}</a>
              <!--.track &#32; ({{ page.track}})-->
              <hr/>{%    endif                   %}
              {% endfor                     %}
            </ul>
          </td>
          <td>{% assign day = 'Wed'  %}
            <ul>
              {% for page in workshops-scheduled      %}
              {%  if page.when-day == day   %}<a href="{{page.url}}">{{ page.title }}</a>
              <!--.track &#32; ({{ page.track}})-->
              <hr/>{%    endif                   %}
              {% endfor                     %}
            </ul>
          </td>
          <td>{% assign day = 'Thu'  %}
            <ul>
              {% for page in workshops-scheduled      %}
              {%  if page.when-day == day   %}<a href="{{page.url}}">{{ page.title }}</a>
              <!--.track &#32; ({{ page.track}})-->
              <hr/>{%    endif                   %}
              {% endfor                     %}
            </ul>
          </td>
          <td>{% assign day = 'Fri'  %}
            <ul>
              {% for page in workshops-scheduled      %}
              {%  if page.when-day == day   %}<a href="{{page.url}}">{{ page.title }}</a>
              <!--.track &#32; ({{ page.track}})-->
              <hr/>{%    endif                   %}
              {% endfor                     %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>