
<div class="schedule-track">
  <h3>Scheduled Working Sessions</h3>{% assign times  = "AM-0,AM-1,AM-2,PM-1,PM-2,PM-3,PM-4,PM-5,Eve, " | split: ',' %}
  {% assign days   = "Mon,Tue,Wed,Thu,Fri"     | split: ',' %}
  {% assign track  = page.title                             %}
  <table class="table table-striped">
    <thead>
      <th><b>(when)</b></th>
      <th class="text-center">
        <h4>Monday</h4>
      </th>
      <th class="text-center">
        <h4>Tuesday</h4>
      </th>
      <th class="text-center">
        <h4>Wednesday</h4>
      </th>
      <th class="text-center">
        <h4>Thursday</h4>
      </th>
      <th class="text-center">
        <h4>Friday</h4>
      </th>
    </thead>{% for time in times %}
      {% if site.data.mapped.schedule.by_Time[time][track] %}
    <tr>
      <td class="text-center">
        <div class="time">{{ time }}</div>
      </td>{% for day in days %}
        {% assign working-sessions = site.data.mapped.schedule.by_Time[time][track][day]  %}
      <td>
        <div class="session-name">{% for working-session in working-sessions      %}<a href="{{working-session.url}}">{{ working-session.name }}</a>{% if working-session .locked %}<span class="glyphicon glyphicon-lock"></span>{% endif             %}
          {% if working-session.status == 'draft' %}<span class="glyphicon glyphicon-warning-sign"></span>{% endif %}
          <div class="location">{{ working-session.location }}</div>{% endfor %}
        </div>
      </td>  {% endfor %}
    </tr>  {% endif %}
    {% endfor %}
  </table>{% assign times = site.data.mapped.schedule.by_Track['no-day'][track]  %}
  {% if times %}
  <h3>Not Scheduled Working Sessions</h3>
  <p>
    These Working Sessions are currently NOT scheduled to occur in one of the main Rooms.
    This doesn't mean that they will NOT happen.
    Participants will be able to work on this
    Working Session (or others created during the Summit) at specific locations and times.
  </p>
  <ul>
    {% for time in times      %}
    {%    for working-session in time[1]      %}
    <li><a href="{{ working-session.url }}">{{ working-session.name }}</a><span>&#32; - {{ working-session.status}} &#32;</span>{% if working-session.status == 'draft' %}<span class="glyphicon glyphicon-warning-sign"></span>{% endif %}</li>{%    endfor %}
    {% endfor %}
  </ul>{% endif %}
  <!--hr-->
  <!--p-->
  <!--    a(href="/Working-Sessions/{{ page.title | replace: ' ', '-'}}") Back to {{ page.title }} track details-->
  <!--p-->
  <!--    a(href='/pages/schedule') Back to schedule list-->
</div>