
<div class="participants">
  <div class="container">
    <h1>Tracks</h1>
    <p>Here are the current tracks currently planned to occur at the Summit.</p>
    <div class="row">
         {% assign test = '123,222,444,555' | split: "," ;
            assign test = test | unshift: 'hello worldaaa'
         %}
         {% assign tracks = '' | split: ",";                     %}
         {%   for page in site.pages                             %}
         {%   if page.type == 'workshop' and page.track != null  %}
         {%         assign tracks = tracks | unshift: page.track %}˘
         {%      unless tracks contains page.track               %}
         {%      endunless                                       %}
         {%   endif                                              %}
         {%   endfor                                             %}
      <!--h2 {{ test | pop: 6  | push: 'aaaa'}}-->
      <h2>{{ tracks[3] }}</h2>{{ tracks  | size }}
      {{ tracks  |  size }}
      <!--| {% for item in test %}-->
      <!--h2 {{ item }}-->
      <!--| {% endfor %}-->
      <ul>{% for track in tracks %}
        <li>{{ track}}</li>{% endfor %}
      </ul>
    </div>
  </div>
</div>