        <!--FOOTER-->
        <footer>
            <div id="lgx-footer" class="lgx-footer">
                <div class="lgx-footer-bg">
                    <div class="lgx-inner">
                        <div class="container">
                            <!--
                            <div class="lgx-subscriber-area">
                                <div class="lgx-testi-inner">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                                                <h3 class="title">To Get Nearly Updates</h3>
                                                <div class="lgx-subscriber">
                                                    <form class="subscribe-form" role="form">
                                                        <div class="form-group">
                                                            <input id="subscribe"  class="form-control lgx-input-form form-control" required="required" type="email" placeholder="Enter Your Email...">
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="lgx-submit lz-submit-btn" name="lgx-submit" type="submit"><span>Subscribe</span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="lgx-logo">-->
                                <!--<a href="index.html" class="lgx-scroll">-->
                                    <!--<img src="/website/assets/img/summit-2011/summit-2011-group-photo.jpg" alt="Logo"/>-->
                                <!--</a>-->
                            <!--</div>-->
                            <div class="footer-social">
                                <ul class="list-inline">
                                    <li><a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="sp-google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="sp-" href="#"><i class="fa fa-soundcloud"></i></a></li>
                                    <li><a class="sp-" href="#"><i class="fa fa-video-camera"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- //.CONTAINER -->
                    </div>
                </div>
                <!-- //.INNER-->
            </div>
        </footer>
        <!--FOOTER END-->


    </div>
    <!--//.LGX SITE CONTAINER-->
    <!-- *** ADD YOUR SITE SCRIPT HERE *** -->
    <!-- JQUERY  -->
    <script src="/website/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- BOOTSTRAP JS  -->
    <script src="/website/assets/libs/bootstrap/js/bootstrap.min.js"></script>


    <script src="/_to_delete/libs/jquery.smooth-scroll.js"></script>

    <!-- SKILLS SCRIPT  -->
    <script src="/_to_delete/libs/jquery.validate.js"></script>

    <!-- adding magnific popup js library -->
    <script type="text/javascript" src="/_to_delete/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

    <!-- Owl Carousel  -->
    <script src="/_to_delete/libs/owlcarousel/owl.carousel.min.js"></script>

    <!-- COUNTDOWN   -->
    <script src="/website/assets/libs/countdown.js"></script>

    <!-- SMOTH SCROLL -->
    <script src="/_to_delete/libs/jquery.smooth-scroll.min.js"></script>
    <script src="/_to_delete/libs/jquery.easing.min.js"></script>

    <!-- type js -->
    <script src="/_to_delete/libs/typed/typed.min.js"></script>


    <!-- CUSTOM SCRIPT  -->
    <script src="/website/assets/js/custom.script.js"></script>


    </body>
</html>
