
<div class="participants-table">
  <h1>Participant's Contacts<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <p>Here are all participants contacts. Summit Editors should make sure that all all participants have mapped their contact information and content</p>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th class="large-column">name (title)</th>
      <th></th>
      <th>status</th>
      <th>image</th>
      <th>email</th>
      <th>company</th>
      <th>twitter</th>
      <th>linkedin</th>
      <th>facebook</th>
      <th>website</th>
    </thead>{% for participant in site.data.mapped.participants  %}
    {% assign metadata = participant[1].metadata      %}
    <tr>
      <td class="text-center">{{ forloop.index }}</td>
      <td><a href="{{ participant[1].url }}" target="_blank">{{ participant[1].name }}</a></td>
      <td><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ participant[1].url | replace: '.html','.md'}}" target="_blank">edit</a></td>
      <td class="text-center status-label">
        {% assign page_status = metadata.status | split: ',' %}
        {% for status in page_status %}
          {% case status %}
              {% when 'draft' %}
        <div class="label label-primary">{{ status }}</div>      {% when 'done' %}
        <div class="label label-success">{{ status }}</div>      {% when 'empty' %}
        <div class="label label-danger">{{ status }}</div>      {% else %}
        <div class="label label-warning">{{ status }}</div>  {% endcase %}
        {% endfor %}
      </td>
      <td class="text-center">{% if metadata.image != '' %}<img src="{{ metadata.image }}" alt="{{ metadata.title }}"/>{% else %}<img src="/website/assets/img/blocks/400x400.png" alt="Placeholder 400x400"/>{% endif %}
      </td>
      <td>
        {% if metadata.email != null %}
        {{ metadata.email }}
        {% else %}
        {{ site.data.emails[metadata.title] }}
        {% endif %}
      </td>
      <td>{{ metadata.company }}</td>
      <td><a href="https://twitter.com/{{ metadata.twitter }}" target="_blank">{{ metadata.twitter }}</a></td>
      <td><a href="https://www.linkedin.com/in/{{ metadata.linkedin }}" target="_blank">{{ metadata.linkedin }}</a></td>
      <td><a href="https://facebook.com/{{ metadata.facebook }}" target="_blank">{{ metadata.facebook }}</a></td>
      <td><a href="{{ metadata.website }}" target="_blank">{{ metadata.website }}</a></td>
    </tr>{% endfor %}
  </table>
</div>