
<div class="participants-table">{% assign participants = site.pages | where: 'type', 'participant' %}
  <h1>Participant's Content<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <p>Here are all participants content. Summit editors should make sure each participant has a good description of his current industry profile and areas that they want to focus at the Summit</p>
  <table class="table table-striped">
    <thead>
      <th>name (title)</th>
      <th>actions</th>
      <th>status</th>
      <th>content</th>
    </thead>{% assign participants = site.pages | where: 'type', 'participant' %}
    {% for participant in participants %}
    <tr>
      <td>
        <h3>{{ participant.title }}</h3>
      </td>
      <td><a href="{{ participant.url }}" target="_blank">view</a><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}" target="_blank">edit</a>
      </td>
      <td>
        {% assign page_status = page.status | split: ',' %}
        {% for status in page_status %}
          {% case status %}
              {% when 'draft' %}
        <div class="label label-primary">{{ status }}</div>      {% when 'done' %}
        <div class="label label-success">{{ status }}</div>      {% when 'empty' %}
        <div class="label label-danger">{{ status }}</div>      {% else %}
        <div class="label label-warning">{{ status }}</div>  {% endcase %}
        {% endfor %}
      </td>
      <td>{{ participant.content }}</td>
    </tr>{% endfor %}
  </table>
</div>