
<div class="participants-table">
  <h1>Participant's Funding<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <h3>Participants currently funded</h3>{% assign participants = site.pages | where: 'expenses', 'owasp' | where_exp: 'item', 'item.funded == true' %}
  {% assign funded       = true  %}
  {% assign total_amount = 0     %}
  {% assign index        = 0     %}
  <table class="table table-striped text-center">
    <thead>
      <th>#</th>
      <th>name (title)</th>
      <!--th role-->
      <th>project-leader</th>
      <th>chapter-leader</th>
      <th>time covered by</th>
      <th>Travel from</th>
      <th>flight cost</th>
      <th>ticket cost</th>
      <th>Required funds</th>{% if funded  == true %}
      <th>Amount funded</th>
      <th>Who funded</th>{% endif %}
      <th>(subtotal)</th>
    </thead>{% for page in participants %}
    {% if funded  == true %}
      {% assign total_amount = total_amount | plus: page.funded-amount %}
    {% else %}
      {% assign total_amount = total_amount | plus: page.required-funds %}
    {% endif %}
    {% assign index        = index        | plus: 1                  %}
    <tr>
      <td>{{ index }}</td>
      <td class="text-left large-column"><a href="{{page.url}}">{{ page.title     }}</a></td>
      <td> {{ page.project-leader     }}</td>
      <td> {{ page.chapter-leader     }}</td>
      <td> {{ page.time               }}</td>
      <td> {{ page.travel-from        }}</td>
      <td>${{ page.flight-cost        }}</td>
      <td>${{ page.ticket-cost        }}</td>
      <td>${{ page.required-funds     }}</td>{% if funded  == true %}
      <td>${{ page.funded-amount      }}</td>
      <td class="large-column"> {{ page.funded-who         }}</td>{% endif %}
      <td>${{ total_amount            }}</td>
    </tr>{% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>{% if funded  == true %}
      <td></td>
      <td></td>
      <td>
        <h5>Total funded:</h5>
      </td>
      <td>
        <h5>${{ total_amount }}</h5>
      </td>{% else %}
      <td>
        <h5>Total required:</h5>
      </td>
      <td>
        <h5>${{ total_amount }}</h5>
      </td>{% endif %}
    </tr>
  </table>
</div>