
<div class="participants-table">
  <h1>Participant's Funding<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <h3>Participants that need funding</h3>{% assign participants = site.pages | where: 'expenses', 'owasp' | where_exp: 'item', 'item.funded != true' %}
  {% assign total_amount = 0     %}
  {% assign index        = 0     %}
  <table class="table table-striped text-center">
    <thead>
      <th>#</th>
      <th>name (title)</th>
      <!--th role-->
      <!--th project-leader-->
      <!--th chapter-leader-->
      <!--th owasp-other-->
      <th>time covered by</th>
      <th>Travel from</th>
      <th>flight cost</th>
      <th>ticket cost</th>
      <th>Required funds</th>
      <th>Amount funded</th>
      <th>(subtotal)</th>
    </thead>{% for page in participants %}
    {% assign total_amount = total_amount | plus: page.required-funds | minus: page.funded-amount%}
    {% assign index        = index        | plus: 1                  %}
    <tr>
      <td>{{ index }}</td>
      <td class="text-left large-column"><a href="{{page.url}}">{{ page.title     }}</a></td>
      <!--td  {{ page.project-leader     }}-->
      <!--td  {{ page.chapter-leader     }}-->
      <!--td  {{ page.owasp-other        }}-->
      <td> {{ page.time               }}</td>
      <td> {{ page.travel-from        }}</td>
      <td>${{ page.flight-cost        }}</td>
      <td>${{ page.ticket-cost        }}</td>
      <td>${{ page.required-funds     }}</td>
      <td>${{ page.funded-amount      }}</td>
      <td>${{ total_amount            }}</td>
    </tr>{% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <h5>Total required:</h5>
      </td>
      <td>
        <h5>${{ total_amount }}</h5>
      </td>
    </tr>
  </table>
</div>
<div class="participants-content">
  <!--h3 Participant's Content-->
  <table class="table table-striped">
    <thead>
      <th>name (title)</th>
      <th>image</th>
      <th>status</th>
      <th>content</th>
    </thead>{% for page in participants %}
    <tr>
      <td>
        <h3>{{ page.title }}</h3>
      </td>
      <td>{% if page.image != null %}<img src="{{ page.image }}" alt="{{ page.title }}"/>{% else %}<img src="/website/assets/img/blocks/400x400.png" alt="Placeholder 400x400"/>{% endif %}
      </td>
      <td class="text-center">
        {% assign page_status = page.status | split: ',' %}
        {% for status in page_status %}
          {% case status %}
              {% when 'draft' %}
        <div class="label label-primary">{{ status }}</div>      {% when 'done' %}
        <div class="label label-success">{{ status }}</div>      {% when 'empty' %}
        <div class="label label-danger">{{ status }}</div>      {% else %}
        <div class="label label-warning">{{ status }}</div>  {% endcase %}
        {% endfor %}
      </td>
      <td>{{ page.content }}</td>
    </tr>{% endfor %}
  </table>
</div>