
<div class="participants-table">{% assign participants = site.pages | where: 'type', 'participant' %}
  <h1>Participant's Roles<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <p>Here are all participants metadata. Summit Editors should make sure that all all participants have mapped their contact information and content</p>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th class="large-column">name (title)</th>
      <th></th>
      <th>status</th>
      <th>job-title</th>
      <th>company</th>
      <th>role</th>
      <th>project-leader</th>
      <th>chapter-leader</th>
      <th>owasp-other</th>
    </thead>{% for page in participants%}
    <tr>
      <td class="text-center">{{ forloop.index }}</td>
      <td><a href="{{ page.url }}" target="_blank">{{ page.title }}</a></td>
      <td><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}" target="_blank">edit</a></td>
      <td class="text-center status-label">
        {% assign page_status = page.status | split: ',' %}
        {% for status in page_status %}
          {% case status %}
              {% when 'draft' %}
        <div class="label label-primary">{{ status }}</div>      {% when 'done' %}
        <div class="label label-success">{{ status }}</div>      {% when 'empty' %}
        <div class="label label-danger">{{ status }}</div>      {% else %}
        <div class="label label-warning">{{ status }}</div>  {% endcase %}
        {% endfor %}
      </td>
      <td>{{ page.job-title        }}</td>
      <td>{{ page.company          }}</td>
      <td>{{ page.role             }}</td>
      <td>{{ page.project-leader   }}</td>
      <td>{{ page.chapter-leader   }}</td>
      <td>{{ page.owasp-other      }}</td>
    </tr>{% endfor %}
  </table>
</div>