
<div class="participants-table">{% assign participants = site.pages | where: 'type', 'participant' %}
  <h1>Participant's Metadata<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <p>Here are all participants metadata. Summit Editors should make sure that all all participants have mapped their contact information and content</p>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>name (title)</th>
      <th>job-title</th>
      <th>role</th>
      <th>image</th>
      <th>twitter</th>
      <th>linkedin</th>
      <th>facebook</th>
      <th>website</th>
      <th>content</th>
      <th>status</th>
      <th>actions</th>
    </thead>{% for page in participants%}
    <tr>
      <td class="text-center">{{ forloop.index }}</td>
      <td><b>{{ page.title }}</b></td>
      <td>{{ page.job-title }}</td>
      <td>{{ page.role }}</td>
      <td><img src="{{ page.image }}"/></td>
      <td><a href="https://twitter/com/{{ page.twitter }}" target="_blank">{{ page.twitter }}</a></td>
      <td><a href="https://twitter/u/{{ page.linkedin }}" target="_blank">{{ page.linkedin }}</a></td>
      <td><a href="https://twitter/com/{{ page.facebook }}" target="_blank">{{ page.facebook }}</a></td>
      <td><a href="{{ page.website }}" target="_blank">{{ page.website }}</a></td>
      <td class="text-center">{{ page.content | strip_html | number_of_words}}</td>
      <td class="text-center status-label">
        {% assign page_status = page.status | split: ',' %}
        {% for status in page_status %}
          {% case status %}
              {% when 'draft' %}
        <div class="label label-primary">{{ status }}</div>      {% when 'done' %}
        <div class="label label-success">{{ status }}</div>      {% when 'empty' %}
        <div class="label label-danger">{{ status }}</div>      {% else %}
        <div class="label label-warning">{{ status }}</div>  {% endcase %}
        {% endfor %}
      </td>
      <td><a href="{{ page.url }}" target="_blank">view</a><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}" target="_blank">edit</a></td>
    </tr>{% endfor %}
  </table>
</div>