.participants
    .container
        h1 Tracks

        p Here are the current tracks currently planned to occur at the Summit.

        .row
            |    {% assign test = '123,222,444,555' | split: "," ;
            |       assign test = test | unshift: 'hello worldaaa'
            |    %}
            |    {% assign tracks = '' | split: ",";                     %}
            |    {%   for page in site.pages                             %}
            |    {%   if page.type == 'workshop' and page.track != null  %}
            |    {%         assign tracks = tracks | unshift: page.track %}˘
            |    {%      unless tracks contains page.track               %}
            |    {%      endunless                                       %}
            |    {%   endif                                              %}
            |    {%   endfor                                             %}
            //h2 {{ test | pop: 6  | push: 'aaaa'}}

            h2 {{ tracks[3] }}
            | {{ tracks  | size }}
            | {{ tracks  |  size }}

            //| {% for item in test %}
            //h2 {{ item }}
            //| {% endfor %}
            ul
                | {% for track in tracks %}
                li {{ track}}
                | {% endfor %}