
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- The above 3 meta tags *must* come first in the head-->{% if page.title != null %}
<title>{{page.title}}</title>{% else %}
<title>OWASP Summit 2017</title>{% endif %}
<meta name="description" content="OWASP Summit 2017 is a 5-day participant driven event, dedicated to the collaboration of Development and Security professionals"/>
<meta name="keywords" content="OWASP Summit 2017,Agile AppSec,CISO,DevSecOps,Education,Mobile Security,Owasp Projects,Owasp Top 10 2017,OwaspSAMM,Research,Security Crowdsourcing,Security Playbooks,Threat Model"/>
<meta name="author" content="https://owaspsummit.org"/>
<!-- this icon shows in browser toolbar-->
<link rel="icon" type="image/x-icon" href="/website/assets/img/owasp-grey.ico"/>
<!-- Css-->
<link rel="stylesheet" href="/website/assets/libs/bootstrap/css/bootstrap.min.css" media="all"/>
<link id="blocks-style" rel="stylesheet" href="/website/assets/css/blocks.css" media="all"/>
<!-- Scripts-->
<script src="/website/assets/libs/jquery-1.12.4.min.js"></script>
<script src="/website/assets/libs/countdown.js"></script>
<script src="/website/assets/libs/custom.script.js"></script>
<script src="/website/assets/libs/bootstrap/js/bootstrap.min.js"></script>