
<!-- HEADER-->
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav id="menu-offscroll" class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/website"><img src="/website/assets/img/blocks/logo-small.png" alt="owasp summit small logo"/></a>
          </div>
          <div class="collapse navbar-collapse blocks-menu">                            
            <ul class="nav navbar-nav">
              <li><a href="{{ site.data.links.outcomes         }}">Outcomes</a></li>
              <li><a href="{{ site.data.links.working-sessions }}">Tracks</a></li>
              <li><a href="{{ site.data.links.participants     }}">Participants</a></li>
              <li><a href="{{ site.data.links.venue            }}">Venue</a></li>
              <li><a href="{{ site.data.links.faq              }}">Faq</a></li>
              <li><a href="{{ site.data.links.blog             }}">Blog</a></li>
              <li><a href="{{ site.data.links.sponsors         }}">Sponsors</a></li>
              <li><a href="{{ site.data.links.about            }}">About</a></li>
              <li><a href="{{ site.data.links.admin }}">Admin</a></li>
              <!--button.btn.btn-primary-->
              <!--    a(href='{{ site.data.links.buy-ticket       }}') Buy Ticket-->
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>