
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/website/assets/fonts/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  /*src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');*/
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url(/website/assets/fonts/KuTkTNzljLi-9-e4QiI83pBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.img-summit-logo {
  background: no-repeat url('/website/assets/img/blocks/OWASP-Summit-2017-logo.png');
}










body {
  font-family: 'Roboto Slab', serif !important;
  background: url('/website/assets/img/blocks/header-background.png') !important;
  background-size: 1200px                                    !important;
  min-width: 320px;
}

@media screen {
  section {
    padding-top: 150px;
  }
  .home-banner .quote-title {
    font-size: 20px;
    font-size: 2rem;
  }
  .home-banner .quote-text {
    font-size: 40px;
    font-size: 4rem;
  }
  .lgx-countdown-area {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media (max-width: 691px) {
  section {
    padding-top: 150px;
  }
  .home-banner .quote-title {
    font-size: 15px;
    font-size: 1.5rem;
  }
  .home-banner .quote-text {
    font-size: 30px;
    font-size: 3rem;
  }
  .lgx-countdown-area {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 691px) {
  section {
    padding-top: 100px;
  }
  .home-banner .quote-title {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .home-banner .quote-text {
    font-size: 20px;
    font-size: 2rem;
  }
  .lgx-countdown-area {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  section {
    padding-top: 75px;
  }
  .home-banner .quote-title {
    font-size: 10px;
    font-size: 1rem;
  }
  .home-banner .quote-text {
    font-size: 20px;
    font-size: 2rem;
  }
  .lgx-countdown-area {
    font-size: 10px;
    font-size: 1rem;
  }
}
.home-banner p {
  margin: 0 0 0px;
}
.home-banner .quote-title {
  color: #87BB40;
  font-family: 'Oswald';
}
.home-banner .quote-text {
  color: #333333 !important ;
  font-family: 'Roboto Slab' !important;
}
.lgx-countdown-area {
  margin-bottom: 1.6rem;
}
.lgx-countdown-area #lgx-countdown span {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-right: 0rem;
  letter-spacing: .16rem;
}
.lgx-countdown-area #lgx-countdown i {
  font-family: 'Roboto Slab', serif;
  color: #2e2841;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: normal;
  display: block;
}
.lgx-countdown-area #lgx-countdown .lgx-days {
  color: #00549e;
}
.lgx-countdown-area #lgx-countdown .lgx-hr {
  color: #ff8a00;
}
.lgx-countdown-area #lgx-countdown .lgx-min {
  color: #00b9ff;
}
.lgx-countdown-area #lgx-countdown .lgx-sec {
  color: #87bb40;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: auto;
  }
}
@media (min-width: 920px) {
  .navbar li a {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .navbar .btn {
    font-size: 16px;
    font-size: 1.6rem;
  }
  img {
    width: 120px;
  }
  .navbar {
    padding-top: 10px;
  }
  .blocks-menu {
    padding-top: 10px;
  }
}
@media (max-width: 920px) {
  .navbar li a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .navbar .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
  img {
    width: 110px;
  }
  .navbar {
    padding-top: 10px;
  }
  .blocks-menu {
    padding-top: 10px;
  }
}
@media (max-width: 840px) {
  .navbar li a {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .navbar .btn {
    font-size: 12px;
    font-size: 1.2rem;
  }
  img {
    width: 100px;
  }
  .navbar {
    padding-top: 20px;
  }
  .blocks-menu {
    padding-top: 20px;
  }
}
@media (max-width: 770px) {
  .navbar li a {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .navbar .btn {
    font-size: 13px;
    font-size: 1.3rem;
  }
  img {
    width: 90px;
  }
  .navbar {
    padding-top: 20px;
  }
  .blocks-menu {
    padding-top: 20px;
  }
}
.navbar {
  background-color: transparent;
}
.blocks-menu {
  float: right;
  font-family: 'Oswald';
}
.blocks-menu li a {
  text-transform: uppercase;
  padding: 9px 10px 0px 10px;
  color: #333333;
}
.blocks-menu button {
  background: #00549E;
}
.blocks-menu button a {
  color: white;
  text-transform: uppercase;
}
