.quote-title {
  color: #87BB40 !important ;
  font-family: 'Oswald' !important;
  font-size: 26px !important;
}
.quote-text {
  color: #333333 !important ;
  font-family: 'Roboto Slab' !important;
  font-size: 50px !important;
  line-height: 120%;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/website/assets/fonts/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  /*src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');*/
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url(/website/assets/fonts/KuTkTNzljLi-9-e4QiI83pBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


section {
  padding-top: 150px;
}
.lgx-logo img {
  max-width: 270px;
  margin-top: 0;
}

body {
  font-family: 'Roboto Slab', serif !important;
  background: url('/website/assets/img/blocks/header-background.png') !important;
}
.img-summit-logo {
  background: no-repeat url('/website/assets/img/blocks/OWASP-Summit-2017-logo.png');
}









@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: auto ;
  }
}
.navbar {
  padding-top: 20px;
  background-color: transparent;
}
.navbar img {
  width: 120px;
}
.blocks-menu {
  float: right;
  font-family: 'Oswald';
  padding-top: 10px;
}
.blocks-menu li a {
  text-transform: uppercase;
  padding: 9px 10px 0px 10px;
  font-size: 16px;
  color: #333333;
}
.blocks-menu button {
  background: #00549E;
}
.blocks-menu button a {
  color: white;
  text-transform: uppercase;
}
@media (max-width: 921px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
