.summit-organization
    .container
        h1 Summit Organization
        h2 Schedule
        p A first pass of the Summit Schedule is now available on the <a href='/pages/schedule'> schedule</a> page
        h2 Get Involved
        .row
            .col-xs-7
                p
                    | If you want to help with the Summit organization or want to know more about what is happening behind the scenes, here are some links for you:
                ul
                    li
                        a(href='../Logistics/Open-Tasks.html') Open Tasks
                    li
                        a(href='/pages/for-editors/participants/have-funding.html') Participants with Owasp support
                    li
                        a(href='../Logistics/Sponsored-Participants.html') Sponsored Participants
                        ul
                            li
                                a(href='../Logistics/Summit-Team.html') Summit Team
                            li
                                a(href='../Logistics/Workshop-Admin.html') Workshop Admin
                    li
                        a(href='../Logistics/Invitation-letter.html') Invitation Letter
                        |  (sample)
                    li
                        a(href='../Logistics/Summit-site.html') Summit Site
                        ul
                            li
                                a(href='../Logistics/Jekyll-Properties.html') Jekyll Properties
                            li
                                a(href='/pages/for-editors') Editor's Pages
                    li
                        a(href='../Logistics/Owasp-Band.html') OWASP Band
            .col-xs-5
                img.img-responsive(src='/website/assets/img/blocks/clipboard.png' alt='clipboard')
        br
        .row
            .col-xs-7
                h2 GitHub Site
                       |  Site
                p
                    | Here are the main areas of the
                    a(href='https://github.com/OWASP/owasp-summit-2017') &#32; OWASP Summit GitHub site
                    |  which is used to hold all information, details and data (including this site)
                ul
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/issues') Issues
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Participants') Participants
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Working-Sessions') Working-Sessions
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Logistics') Logistics
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Logistics/meetings') Weekly Meetings
                    li
                        a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Budget') Budget
            .col-xs-4
                .contact-us
                    h2 Contact Us
                    p If you have any questions regarding the summit, please <a href="mailto:francois@devseccon.com">email us</a>
                    p Your query will be forwarded to the best member of the team to assist.
        h2 Search Site
        | {% include blocks/search.html %}
