//mixin add-email
//    | {% if site.data.emails %}
//    |   {% if page.email != null %}
//    |       {% assign emails = emails | append: page.email %}
//    |   {% else %}
//    |       {% assign emails = emails | append: site.data.emails[page.title] %}
//    |   {% endif %}
//    |   {% if forloop.last != true %}
//    |       {% assign emails = emails | append: ' , ' %}
//    |   {% endif %}
//    | {% endif %}
//
//mixin show-emails
//    b {{ emails | split: ',' | size }} participants
//    textarea {{emails}}
//
//mixin show-email-list
//    | {% assign emails       = "" %}
//    h3 {{ list-title }}
//    | {% for page in list-pages %}
//    + add-email
//    | {% endfor %}
//    + show-emails

mixin show-email-list
    | {% assign emails       = "" %}
    | {% for name in names %}
    | {% assign emails = emails | append: site.data.emails[name] | append: ' , ' %}
    | {% endfor %}
    h3 {{ list-title }}
    b {{ names.size }} participants
    textarea {{ emails }}

.participants-table
 
    h1 Email's lists
        a(href='/pages/for-editors') Back to Editor's pages

    p Multiple email lists of participants (to help email communications)

    | {% assign names = site.data.mapped.lists.all_Participants                %}
    | {% assign list-title   = "All Participants"                              %}
    + show-email-list

    | {% assign names = site.data.mapped.lists.by_Type['participant']          %}
    | {% assign list-title   = "On site"                                       %}
    + show-email-list

    | {% assign names = site.data.mapped.lists.by_Type['participant-remote']   %}
    | {% assign list-title   = "Remote"                                        %}
    + show-email-list

    | {% assign names = site.data.mapped.lists.by_Funded['yes']                %}
    | {% assign list-title   = "funded"                                        %}
    + show-email-list

    //| {% assign participants = site.pages | where: 'expenses', 'owasp'  %}
    //
    //| {% assign list-title  = "Need funding" %}
    //| {% assign list-pages  = participants | where_exp: 'item', 'item.funded != true' %}
    //+ show-email-list
    //
    //| {% assign list-title  = "Currently funded (by owasp)" %}
    //| {% assign list-pages  = participants | where: 'funded', 'true' %}
    //+ show-email-list
    //
    //| {% assign list-title  = "All Participants" %}
    //| {% assign list-pages  = site.pages | where: 'type', 'participant' %}
    //+ show-email-list
    //
    //| {% assign list-title  = "All Participants (remote)" %}
    //| {% assign list-pages  = site.pages | where: 'type', 'participant-remote' %}
    //+ show-email-list
    //
    //| {% assign list-title  = "Summit Editors" %}
    //| {% assign list-pages  = site.pages | where: 'role', 'Summit-Editor' %}
    //+ show-email-list

