mixin status
    | {% case page.status %}
    | {% when 'draft' %}
    .label.label-primary {{ page.status }}
    | {% when 'done' %}
    .label.label-success done
    | {% when 'empty' %}
    .label.label-danger empty
    | {% else %}
    .label.label-warning {{ page.status }}
    | {% endcase %}

mixin actions
    a(href='{{ page.url }}' target='_blank') view
    a(href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}' target='_blank') edit

mixin add-technologies
    | {% if page.technology != null %}
    |   {% assign technologies = page.technology | split: ',' %}
    |   {% for technology in technologies %}
    |   {% assign match = site.pages | where: 'title', technology %}
    |   {% if match[0] %}
    a(href='{{match[0].url}}') {{ match[0].title }}
    |   {% else %}
    span.no-technology {{ technology }}
    |   {% endif %}
    |   {% if forloop.last != true %}
    span ,
    |   {% endif %}
    |   {% endfor %}
    | {% endif %}

.participants-table
    | {% assign workshops = site.pages | where: 'type', 'workshop' | where_exp: 'item', 'item.organizers == null'%}

    h1 Working Session's - With NO Organizers
        a(href='/pages/for-editors') Back to Editor's pages

    p.
        These Working Sessions current have NO organizer and the content still needs some work. if you are interested in this topic,
        please sign-up as one of the organizers! This could be a great career opportunity to show your talent, skills and professionalism.
    table.table.table-striped
        thead
            th #
            th name (title)
            th
            th track
            th technologies
            th participants
            th # words
            th status
        | {% for page in workshops%}
        tr
            td.text-center {{ forloop.index }}
            td
                a(href='{{page.url}}' target='_blank') {{ page.title }}
            td
                a(href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}' target='_blank') edit
            td
                a(href="/Working-Sessions/{{ page.track | replace: ' ', '-'}}" target='_blank') {{ page.track }}
            td
                + add-technologies
            td {{ page.participants }}
            td.text-center {{ page.content | strip_html | number_of_words}}
            td.text-center
                + status

        | {% endfor %}


