mixin status
    | {% case session[1].metadata.status %}
    | {% when 'draft' %}
    .label.label-primary {{ session[1].metadata.status }}
    | {% when 'done' %}
    .label.label-success done
    | {% when 'empty' %}
    .label.label-danger empty
    | {% else %}
    .label.label-default {{ session[1].metadata.status }}
    | {% endcase %}

mixin actions
    a(href='{{ page.url }}' target='_blank') view
    a(href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}' target='_blank') edit

//mixin add-technologies
//    | {% if page.technology != null %}
//    |   {% assign technologies = page.technology | split: ',' %}
//    |   {% for technology in technologies %}
//    |   {% assign match = site.pages | where: 'title', technology %}
//    |   {% if match[0] %}
//    a(href='{{match[0].url}}') {{ match[0].title }}
//    |   {% else %}
//    span.no-technology {{ technology }}
//    |   {% endif %}
//    |   {% if forloop.last != true %}
//    span ,
//    |   {% endif %}
//    |   {% endfor %}
//    | {% endif %}

.participants-table.schedule-colors

    h1 Working Session's - Scheduled Status
        a(href='/pages/for-editors') Back to Editor's pages

    p.
        Mapping of Working Sessions schedule and status
    table.table.table-striped
        thead
            th name (title)
            th track
            th scheduled
            th when-day
            th when-time
            th location
            th room-layout
            th status
            th
        | {% assign sessions = site.data.mapped.working-sessions %}
        | {% for session in sessions %}
        | {%    if session[1].metadata.type == 'workshop' %}
        tr
            td
                a(href='{{session[1].url}}' target='_blank') {{ session[1].name }}
            td
                a(href="/Working-Sessions/{{ session[1].metadata.track | replace: ' ', '-'}}" target='_blank') {{ session[1].metadata..track }}
            td.text-center
                | {% if session[1].metadata.when-day  %}
                .scheduled yes
                | {% else %}
                .not-scheduled no
                | {% endif %}
            td.text-center(class="{{ session[1].metadata.when-day  }}") {{ session[1].metadata.when-day }}
            td.text-center(class="{{ session[1].metadata.when-time }}") {{ session[1].metadata.when-time }}
            td.text-center(class="{{ session[1].metadata.location  }}") {{ session[1].metadata.location }}
            td.text-center(class="{{ session[1].metadata.root-layout  }}") {{ session[1].metadata.room-layout }}
            td.text-center
                + status
            td
                a(href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ session[1].url | replace: '.html', '.md' }}" target='_blank') edit
        | {%    endif %}
        | {% endfor %}
