
// FOOTER
footer
    #lgx-footer.lgx-footer
        .lgx-footer-bg
            .lgx-inner
                .container
                    //
                      <div class="lgx-subscriber-area">
                      <div class="lgx-testi-inner">
                      <div class="container">
                      <div class="row">
                      <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                      <h3 class="title">To Get Nearly Updates</h3>
                      <div class="lgx-subscriber">
                      <form class="subscribe-form" role="form">
                      <div class="form-group">
                      <input id="subscribe"  class="form-control lgx-input-form form-control" required="required" type="email" placeholder="Enter Your Email...">
                      </div>
                      <div class="form-group">
                      <button class="lgx-submit lz-submit-btn" name="lgx-submit" type="submit"><span>Subscribe</span></button>
                      </div>
                      </form>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                    // <div class="lgx-logo">
                    // <a href="index.html" class="lgx-scroll">
                    // <img src="/website/assets/img/summit-2011/summit-2011-group-photo.jpg" alt="Logo"/>
                    // </a>
                    // </div>
                    .footer-social
                        ul.list-inline
                            li
                                a.sp-fb(href='#')
                                    i.fa.fa-facebook
                            li
                                a.sp-tw(href='#')
                                    i.fa.fa-twitter
                            li
                                a.sp-google(href='#')
                                    i.fa.fa-google-plus
                            li
                                a.sp-in(href='#')
                                    i.fa.fa-linkedin
                            li
                                a.sp-(href='#')
                                    i.fa.fa-soundcloud
                            li
                                a.sp-(href='#')
                                    i.fa.fa-video-camera
                // //.CONTAINER
        // //.INNER
// FOOTER END
// //.LGX SITE CONTAINER
// *** ADD YOUR SITE SCRIPT HERE ***
// JQUERY
script(src='/website/assets/js/vendor/jquery-1.12.4.min.js')
// BOOTSTRAP JS
script(src='/website/assets/libs/bootstrap/js/bootstrap.min.js')
script(src='/website/assets/libs/jquery.smooth-scroll.js')
// SKILLS SCRIPT
script(src='/website/assets/libs/jquery.validate.js')
// adding magnific popup js library
script(type='text/javascript', src='/website/assets/libs/maginificpopup/jquery.magnific-popup.min.js')
// Owl Carousel
script(src='/website/assets/libs/owlcarousel/owl.carousel.min.js')
// COUNTDOWN
script(src='/website/assets/libs/countdown.js')
// SMOTH SCROLL
script(src='/website/assets/libs/jquery.smooth-scroll.min.js')
script(src='/website/assets/libs/jquery.easing.min.js')
// type js
script(src='/website/assets/libs/typed/typed.min.js')
// CUSTOM SCRIPT
script(src='/website/assets/js/custom.script.js')
