
// FOOTER
footer
    #lgx-footer.lgx-footer
        .lgx-footer-bg
            .lgx-inner
                .container
                    .footer-social
                        ul.list-inline
                            li
                                a.sp-fb(href='#')
                                    i.fa.fa-facebook
                            li
                                a.sp-tw(href='#')
                                    i.fa.fa-twitter
                            li
                                a.sp-google(href='#')
                                    i.fa.fa-google-plus
                            li
                                a.sp-in(href='#')
                                    i.fa.fa-linkedin
                            li
                                a.sp-(href='#')
                                    i.fa.fa-soundcloud
                            li
                                a.sp-(href='#')
                                    i.fa.fa-video-camera