.get-your-ticket
    .container
        .row
            .col-xs-0.col-sm-1
            .col-xs-12.col-sm-10
                .title Get your ticket
            .col-xs-0.col-sm-1
        .row
            .col-xs-0.col-sm-1
            .col-xs-6.col-sm-5
                .ticket-box.green-box
                    .ticket-type Summit + Accommodation
                    .price £1,200
                        span.currency GBP
                    .ticket-duration 5 days x 24h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    .glyphicon.glyphicon-ok
                        span.item Breakfast, lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item Dinner and drinks
                    .glyphicon.glyphicon-ok
                        span.item Accommodation in Villa (4 nights)
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .green-box
                    .buy-ticket
                        button.btn.btn-primary
                            a(href='{{ site.data.links.buy-ticket }}') Buy Ticket
            .col-xs-6.col-sm-5
                .ticket-box.blue-box
                    .ticket-type Summit Only Ticket
                    .price £400
                        span.currency GBP
                    .ticket-duration 5 days x 8h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    .glyphicon.glyphicon-ok
                        span.item Breakfast lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .blue-box
                    .buy-ticket
                        button.btn.btn-primary
                            a(href='{{ site.data.links.buy-ticket }}') Buy Ticket
            .col-xs-0.col-sm-1