
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
// The above 3 meta tags *must* come first in the head
| {% if page.title != null %}
title {{page.title}} (OWASP Summit 2017)
| {% else %}
title OWASP Summit 2017
| {% endif %}
meta(name='description', content='OWASP Summit 2017')
meta(name='keywords'   , content='OWASP Summit 2017')
meta(name='author'     , content='owaspsummit.org')

// this icon shows in browser toolbar
link(rel='icon', type='image/x-icon', href='/website/assets/img/owasp-grey.ico')

// Css
link(rel='stylesheet', href='/website/assets/libs/bootstrap/css/bootstrap.min.css', media='all')
link#blocks-style(rel='stylesheet', href='/website/assets/css/blocks.css', media='all')

// Scripts
script(src='/website/assets/libs/jquery-1.12.4.min.js')
script(src='/website/assets/libs/countdown.js')
script(src='/website/assets/libs/custom.script.js')
script(src='/website/assets/libs/bootstrap/js/bootstrap.min.js')