section
                //.lgx-banner
                //.lgx-banner-style
                //.lgx-inner
                .container.home-banner
                    .row
                        .col-xs-1
                        .col-xs-4
                            img.img-responsive(src='/website/assets/img/blocks/OWASP-Summit-2017-logo.png')
                        .col-xs-7
                            span.quote-title
                                | 12-16 JUNE 2017, LONDON
                            br
                            span.quote-text
                                p The Unconference
                                p for Development
                                p and Security
                            .lgx-countdown-area
                                #lgx-countdown(data-date="2017/06/12")

                        //.col-xs-2
