// HEADER
header
    #lgx-header.lgx-header
        .lgx-header-inner
            .container
                .row
                    .col-xs-12
                        nav#menu-offscroll.navbar.navbar-default.lgx-navbar
                            .container
                                nav.navbar.navbar-default.lgx-navbar
                                    .lgxcontainer
                                        .navbar-header
                                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                                span.sr-only Toggle navigation
                                                span.icon-bar
                                                span.icon-bar
                                                span.icon-bar
                                            .lgx-logo
                                                a.lgx-scroll(href='/new/index.html')
                                                    img(src='/website/assets/img/owasp-logo-large.png', alt='Logo', width='50')
                                        .collapse.navbar-collapse
                                            ul.nav.navbar-nav.lgx-nav
                                                li
                                                    a.lgx-scroll(href='/new/about.html') About
                                                li
                                                    a.lgx-scroll(href='/new/working-sessions.html') Working Sessions
                                                li
                                                    a.lgx-scroll(href='/new/participants.html') Participants
                                                li
                                                    a.lgx-scroll(href='/new/venue.html') Venue
                                                li
                                                    a.lgx-scroll(href='/new/sponsors.html') Sponsors
                                                li
                                                    a.lgx-scroll(href='/new/summit-organization.html') Summit Organization
                                                li
                                                    a.lgx-scroll.lgx-btn(href='/new/buy-ticket.html')
                                                        span Buy Ticket