// HEADER

header
    .container
        .row
            .col-xs-12
                nav#menu-offscroll.navbar.navbar-default
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href='/new/index.html')
                                img(src='/website/assets/img/blocks/logo-small.png')
                        .collapse.navbar-collapse.blocks-menu
                            ul.nav.navbar-nav
                                li
                                    a(href='/new/about.html') About
                                li
                                    a(href='/new/working-sessions.html') Working Sessions
                                li
                                    a(href='/new/participants.html') Participants
                                li
                                    a(href='/new/venue.html') Venue
                                li
                                    a(href='/new/sponsors.html') Sponsors
                                li
                                    a(href='/new/summit-organization.html') Summit Organization
                                button.btn.btn-primary
                                    a(href='/new/buy-ticket.html') Buy Ticket