.participants
    .container
        h1 Participants

        p
            b This is the current list of Summit attendees.
        p To add your name to this repo please fork the repo and use
            a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Participants' target="_blank") &#32these pages.
        br
        .row
            |  {% for page in site.pages %}
            |    {% if page.title and page.type == 'participant' %}
            .col-xs-4.col-sm-2
                .card
                    a(href='{{page.url}}')
                        .card-top
                            | {% if page.image != null %}
                            img.img-fluid(src='{{page.image}}')
                            //<a class="profile-img" href="{{page.url}}"><img src="{{page.image}}" alt="speaker" _style="height:150px;width:150px"/></a>
                            | {% else %}
                            img.img-fluid(src='/website/assets/img/blocks/400x400.png')
                            //<a class="profile-img" href="{{page.url}}"><img src="http://placehold.it/400x400" alt="speaker"/></a>
                            | {% endif %}
                    .card-block
                        a(href='{{page.url}}')
                            p.participant-name {{page.title}}
                            p.participant-title
                                |{% if page.job-title != null %}
                                | {{page.job-title}}
                                | {% else %}
                                | ...
                                | {% endif %}
            | {%    endif  %}
            | {%    endfor %}
