// *** TODO: DC: Check which ones are really needed for site funcionality ***
// JQUERY
script(src='/website/assets/js/vendor/jquery-1.12.4.min.js')
// BOOTSTRAP JS
script(src='/website/assets/libs/bootstrap/js/bootstrap.min.js')
script(src='/website/assets/libs/jquery.smooth-scroll.js')
// SKILLS SCRIPT
script(src='/website/assets/libs/jquery.validate.js')
// adding magnific popup js library
script(type='text/javascript', src='/website/assets/libs/maginificpopup/jquery.magnific-popup.min.js')
// Owl Carousel
script(src='/website/assets/libs/owlcarousel/owl.carousel.min.js')
// COUNTDOWN
script(src='/website/assets/libs/countdown.js')
// SMOTH SCROLL
script(src='/website/assets/libs/jquery.smooth-scroll.min.js')
script(src='/website/assets/libs/jquery.easing.min.js')
// type js
script(src='/website/assets/libs/typed/typed.min.js')
// CUSTOM SCRIPT
script(src='/website/assets/js/custom.script.js')