section
    .lgx-banner
        .lgx-banner-style
            .lgx-inner
                .container
                    .row
                        .col-xs-1
                        .col-xs-8
                            h1 THE SUMMIT
                        .col-xs-2
                            | ...
                        .col-xs-1
