.participants-table {
  background: #eaeaea;
  padding: 10px;
  table {
    //border: 1px dashed;
  //
    tr {
      td {
        padding:2px;
        //border: 1px solid;
        img { width:15px}
        a { padding-left: 5px}
      }
    }
    th {
      font-family     : 'Oswald';
      color           : #333333;
      padding         : 20px;
      text-transform  : uppercase;
      text-align      : left;
    }
  }
}
