<!DOCTYPE html>
<html>
  <head>{% include page/header.html               %}</head>
  <body>
    {% include page/menu.html                 %}
    {% include blocks/home-banner.html        %}
    {% include blocks/summit-intro.html       %}
    <div class="featured-ws">
      <div class="container">
        {% include blocks/tracks.html         %}
        {% include blocks/technologies.html   %}
      </div>
    </div>{% include blocks/featured-ws.html        %}
    {% include blocks/get-your-ticket.html    %}
    {% include page/footer.html               %}
    {% include page/google-analytics.html     %}
  </body>
</html>