<!DOCTYPE html>
<html>
  <head>{% include page/header.html             %}</head>
  <body>{% include page/menu.html               %}
    <div class="page-content">
      <div class="container">
        <h1>{{ page.title }}</h1>{% if page.image != null %}<img src="{{ page.image }}" alt="{{ page.title }}" class="participant">{% endif %}
        {{ content }}<br>
        <hr>
        <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
      </div>
    </div>{% include page/footer.html             %}
    {% include page/google-analytics.html   %}
  </body>
</html>