{% include event-point/header.html %}

{% include event-point/menu.html %}

    <!--BANNER-->
    <section>
        <div class="lgx-banner">
            <div class="lgx-banner-style">
                <div class="lgx-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="banner-info">
                                    <div class="lgx-countdown-area">
                                        <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                        <div id="lgx-countdown" data-date="2017/06/12"></div>
                                    </div>
                                    <h2 class="title">OWASP Summit <span>2017</span></h2>
                                    <h3 class="date"><span>12-06 June </span>2017, London</h3>
                                </div>
                            </div>
                        </div>
                        <!--//.ROW-->
                    </div>
                    <!-- //.CONTAINER -->
                </div>
                <!-- //.INNER -->
            </div>
        </div>
    </section>
    <!--BANNER END-->


    <!--FOOTER-->
    <footer>
        <div id="lgx-footer" class="lgx-footer">
            <div class="lgx-footer-bg">
                <div class="lgx-inner">
                    <div class="container">
                        <div class="lgx-logo">
                            <a href="index.html" class="lgx-scroll">
                                <img src="/assets/img/summit-2011/summit-2011-group-photo.jpg" alt="Logo"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOTER END-->

{% include event-point/footer.html %}