{% include event-point/header.html %}

{% include event-point/menu.html %}

        <section>
            <div id="lgx-speakers" class="lgx-speakers">
                <div class="lgx-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Jhon Soumen</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Sujana Jhon</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Devil Sagar</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Alina Pavel</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="sspeaker-single.html">Jhon Soumen</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Sujana Jhon</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Devil Sagar</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Alina Pavel</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Jhon Soumen</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Sujana Jhon</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Devil Sagar</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="lgx-single-speaker lgx-single-speaker-sm">
                                    <figure>
                                        <a class="profile-img" href="speaker-single.html"><img src="http://placehold.it/500x538" alt="speaker"/></a>
                                        <figcaption>
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="speaker-single.html">Alina Pavel</a></h3>
                                        <h4 class="subtitle">Ceo of LogicHunt</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//.ROW-->
                    </div>
                    <!-- //.CONTAINER -->
                </div>
                <!-- //.INNER -->
            </div>
        </section>

{% include event-point/footer.html %}