{% include event-point/header.html %}

{% include event-point/menu.html %}

<section>
    <div class="lgx-speakers">
        <div class="lgx-inner">
            <div class="container">
                <div class="blog-area">
                    <div class="row">
                        <div class="col-xs-12">
                            <article class="lgx-card-single">
                                <figure>
                                    {% if page.image != null %}
                                    <a class="profile-img" href="{{page.url}}"><img src="{{page.image}}" alt="speaker"/></a>
                                    {% else %}
                                    <a class="profile-img" href="{{page.url}}"><img src="http://placehold.it/400x400" alt="speaker"/></a>
                                    {% endif %}
                                    <br>
                                    <br>
                                </figure>
                                <section>
                                    {{ content }}
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
            </div>
        </div>
    </div>
</section>


{% include event-point/footer.html %}