{% include event-point/header.html %}

{% include event-point/menu.html %}


<section>
    <div id="lgx-speakers" class="lgx-speakers">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{content}}</p>
                        <br>
                    </div>
                    {% assign postsPerPage = 0 %}
                    {% for page in site.pages %}
                        {% if page.title and page.type == 'participant' %}
                            {% assign postsPerPage = postsPerPage | plus: 1 %}
                            <div class="col-xs-4 col-sm-4 col-md-2">
                                <div class="lgx-single-speaker lgx-single-speaker-sm" style="height:250px;">
                                    <figure>
                                        {% if page.image != null %}
                                            <a class="profile-img" href="{{page.url}}"><img src="{{page.image}}" alt="speaker" _style="height:150px;width:150px"/></a>
                                        {% else %}
                                            <a class="profile-img" href="{{page.url}}"><img src="http://placehold.it/400x400" alt="speaker"/></a>
                                        {% endif %}
                                        <figcaption>
                                            <h4 style="color: black">{{postsPerPage}}</h4>
                                            {% if page.twitter != null %}
                                                <a class="sp-tw" href="https://twitter.com/{{page.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                            {% endif %}
                                            {% if page.linkedin != null %}
                                                <a class="sp-in" href="https://linkedin.com/in/{{page.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                            {% endif %}
                                            {% if page.facebook != null %}
                                                <a class="sp-fb" href="https://facebook.com/{{page.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                            {% endif %}
                                        </figcaption>
                                    </figure>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="{{page.url}}">{{page.title}}</a></h3>
                                        {% if page.job-title != null %}
                                            <h4 class="subtitle">{{page.job-title}}</h4>
                                        {% else %}
                                            <h4 class="subtitle">...</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include event-point/footer.html %}