{% include event-point/header.html %}

{% include event-point/menu.html %}

<section>
    <div class="lgx-speakers">
        <div class="lgx-inner">
            <div class="container">
                <div class="blog-area">
                    <div class="row">
                        <div class="col-xs-12">
                            <article class="lgx-card-single">
                                <section>
                                    {{ content }}
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include event-point/footer.html %}