{% include event-point/header.html %}

{% include event-point/menu.html %}


<!--REGISTER-->
<section>
    <div id="lgx-register" class="lgx-register">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single">
                            <div class="single-top">
                                <h4 class="price">£400<span>GBP</span></h4>
                                <h3 class="title">Conference Only</h3>
                                <p>5 days x 8h participant </p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to all Working sessions (5 days)</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Coffees</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Dinner</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Accommodation in Villa (4 nights)</li>
                                </ul>
                                <a class="lgx-btn" href="https://www.regonline.com/owaspsummit2017" target="_blank"><span>Buy Ticket</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single">
                            <div class="single-top">
                                <h4 class="price">£1,200<span>GBP</span></h4>
                                <h3 class="title">Conference and Accommodation</h3>
                                <p>5 days x 24h participant </p>
                            </div>
                            <div class="single-bottom">
                                <ul class="list-unstyled list">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to all Working sessions (5 days)</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Coffees</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Dinner</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Accommodation in Villa (4 nights)</li>
                                </ul>
                                <a class="lgx-btn" href="https://www.regonline.com/owaspsummit2017" target="_blank"><span>Buy Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</section>
<!--REGISTER END-->

<section>
    <div id="lgx-speakers" class="lgx-speakers">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{content}}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include event-point/footer.html %}