// HEADER

header
    .container
        .row
            .col-xs-12
                nav#menu-offscroll.navbar.navbar-default
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href='/website')
                                img(src='/website/assets/img/blocks/logo-small.png' alt='owasp summit small logo')
                        .collapse.navbar-collapse.blocks-menu                             
                                ul.nav.navbar-nav
                                    li
                                        a(href='{{ site.data.links.outcomes         }}') Outcomes
                                    li
                                        a(href='{{ site.data.links.working-sessions }}') Tracks
                                    li
                                        a(href='{{ site.data.links.participants     }}') Participants
                                    li
                                        a(href='{{ site.data.links.venue            }}') Venue
                                    li
                                        a(href='{{ site.data.links.faq              }}') Faq
                                    li
                                        a(href='{{ site.data.links.blog             }}') Blog
                                    li
                                        a(href='{{ site.data.links.sponsors         }}') Sponsors
                                    li
                                        a(href='{{ site.data.links.about            }}') About
                                    li
                                        a(href='{{ site.data.links.admin }}') Admin
                                    button.btn.btn-primary
                                        a(href='{{ site.data.links.buy-ticket       }}') Buy Ticket
