
<!--p {{ site.data.mapped.lodges }}-->

<div class="lodges">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="row">{% for lodge in site.data.mapped.lodges.lodges%}
      <div class="col-xs-4 col-sm-4">
        <div class="card">
          <table class="table table-striped">
            <thead>
              <th class="text-center">Lodge Number</th>
              <th class="text-center">Participant</th>
            </thead>
            <tbody>{% for name in lodge[1].names %}
              <tr>{% if forloop.index == 1 %}
                <td rowspan="6">
                  <div class="lodge_Id">{{ lodge[1].id }}</div>
                </td>{% endif %}
                <td>{{ name}}</td>
              </tr>{% endfor %}
            </tbody>
          </table>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</div>