
<div class="lodges">
  <div class="container">
    <h1>{{ page.title }}<a href="/pages/for-editors">Back to Editor's pages</a></h1>
    <p>Here are the participant's mappings (per Lodge)</p><br/>
    <h2>Pre-Summit Team (ZL4G) June 10,11</h2>
    <p>
      This the advanced party that is going to finalise the last operational details and
      make sure everything is in place
    </p>
    <div class="row">{% for lodge in site.data.lodges.pre-summit %}
      <div class="col-xs-3 col-sm-3">
        <div class="card">
          <h3>{{ lodge[0] }}</h3>
          <h4>{{ lodge[1].name }}</h4>
          <ul>{% for user in lodge[1].users %}
            <li>{{ user }}</li>{% endfor %}
          </ul>
        </div>
      </div>{% endfor %}
    </div>
    <h2>Working Lodges (ZL4G) June 12,13,14,15</h2>
    <p>
      These are the Lodges closer to the Conference Center and where multiple Working Sessions will be hosted
      (including the Evening sessions)
    </p>
    <div class="row">{% for lodge in site.data.lodges.with-sessions %}
      <div class="col-xs-3 col-sm-3">
        <div class="card">
          <h3>{{ lodge[0] }}</h3>
          <h4>{{ lodge[1].name }}</h4>
          <ul>{% for user in lodge[1].users %}
            <li>{{ user }}</li>{% endfor %}
          </ul>
        </div>
      </div>{% endfor %}
    </div>
    <h2>Quiet Lodges (XL42) June 12,13,14,15</h2>
    <p>
      These are the Lodges located a bit farther from the Conference Center with
      no activities booked.
    </p>
    <div class="row">{% for lodge in site.data.lodges.quiet-lodges %}
      <div class="col-xs-3 col-sm-3">
        <div class="card">
          <h3>{{ lodge[0] }}</h3>
          <h4>{{ lodge[1].name }}</h4>
          <ul>{% for user in lodge[1].users %}
            <li>{{ user }}</li>{% endfor %}
          </ul>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</div>