
<div class="lodges">
  <div class="container">
    <h1>{{ page.title }}<a href="/pages/for-editors">Back to Editor's pages</a></h1>
    <p>Here are the participant's mappings (per Lodge)</p>
    <p>Note that changes will be made to the Summit mappings since the current list was created alphabetically</p>
    <h2>Pre Summit</h2>
    <div class="row">{% for lodge in site.data.mapped.lodges.pre_Summit%}
      <div class="col-xs-4 col-sm-4">
        <div class="card pre-summit-card">
          <table class="table table-striped">
            <thead>
              <th class="text-center">Lodge Number</th>
              <th class="text-center">Participant</th>
            </thead>
            <tbody>{% for participant in lodge[1] %}
              <tr>{% if forloop.index == 1 %}
                <td rowspan="6">
                  <div class="lodge_Id">{{ lodge[0] }}</div>
                </td>{% endif %}
                <td>{{ participant.name }}
                  <div class="when">{{ participant.when }}</div>
                </td>
              </tr>{% endfor %}
            </tbody>
          </table>
        </div>
      </div>{% endfor %}
    </div>
    <h2>Summit</h2>
    <div class="row">{% for lodge in site.data.mapped.lodges.lodges%}
      <div class="col-xs-4 col-sm-4">
        <div class="card">
          <table class="table table-striped">
            <thead>
              <th class="text-center">Lodge Number</th>
              <th class="text-center">Participant</th>
            </thead>
            <tbody>{% for name in lodge[1].names %}
              <tr>{% if forloop.index == 1 %}
                <td rowspan="6">
                  <div class="lodge_Id">{{ lodge[1].id }}</div>
                </td>{% endif %}
                <td>{{ name}}</td>
              </tr>{% endfor %}
            </tbody>
          </table>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</div>