@imgpath: '/website/assets/img/blocks/';

body {
  font-family: 'Roboto Slab', serif !important;
  background: url('@{imgpath}header-background.png')  !important;
}



.icon (@icon) {
  background: no-repeat url('@{imgpath}@{icon}');
}

.img-summit-logo {
  .icon('OWASP-Summit-2017-logo.png');
}
