body {
  font-family: 'Roboto Slab', serif !important;
  background: url(/website/assets/img/blocks/header-background.png)  !important;
}

.lgx-banner {
  background: url(/website/assets/img/blocks/header-background.png)  !important;
}

.lgx-inner {
  background: url(/website/assets/img/blocks/header-background.png) !important
}
