mixin status
    | {% assign page_status = page.status | split: ',' %}
    | {% for status in page_status %}
    |   {% case status %}
    |       {% when 'draft' %}
    .label.label-primary {{ status }}
    |       {% when 'done' %}
    .label.label-success {{ status }}
    |       {% when 'empty' %}
    .label.label-danger {{ status }}
    |       {% else %}
    .label.label-warning {{ status }}
    |   {% endcase %}
    | {% endfor %}

mixin actions
    a(href='{{ page.url }}' target='_blank') view
    a(href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}' target='_blank') edit


.participants-table
    | {% assign participants = site.pages | where: 'type', 'participant' %}

    h1 Participant's table
        a(href='/pages/editors') Back to Editor's pages

    h2 Metadata view
    p Here are all participants metadata. Summit Editors should make sure that all all participants have mapped their contact information and content
    table.table.table-striped
        thead
            th #
            th name (title)
            th job-title
            th role
            th image
            th twitter
            th linkedin
            th facebook
            th content
            th status
            th actions
        | {% for page in participants%}
        tr
            td.text-center {{ forloop.index }}
            td
                b {{ page.title }}
            td {{ page.job-title }}
            td {{ page.role }}
            td
                img(src='{{ page.image }}')
            td
                a(href='https://twitter/com/{{ page.twitter }}' target='_blank') {{ page.twitter }}
            td
                a(href='https://twitter/u/{{ page.linkedin }}' target='_blank') {{ page.linkedin }}
            td
                a(href='https://twitter/com/{{ page.facebook }}' target='_blank') {{ page.facebook }}
            td.text-center {{ page.content | strip_html | number_of_words}}
            td.text-center.status-label
                +status
            td
                a(href='{{ page.url }}' target='_blank') view
                a(href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}' target='_blank') edit
        | {% endfor %}


    hr
    h2 Content view
    p Here are all participants content. Summit editors should make sure each participant has a good description of his current industry profile and areas that they want to focus at the Summit

    table.table.table-striped
        thead
            th name (title)
            th actions
            th status
            th content

        | {% for page in site.pages %}
        tr
            td
                h3 {{ page.title }}
            td
                +actions
            td
                +status
            td {{ page.content }}


        | {% endfor %}
