<div class="row">
  <div class="col-xs-0"></div>
  <div class="col-xs-12">
    <h2>Topics</h2>
    <div class="col-xs-0"></div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-0"></div>
  <div class="col-xs-12">
    <div class="row">
      {{ print "%#v" . }}
      {{ $topics := where .Data.Pages ".Params.technology" "" }}
      {{ range $topics }}
      <div class="col-xs-4.col-sm-2">
        <a href="{{ .Permalink }}">{{ .Params.title }}</a>
      </div>
      {{ end }}
      <div class="col-xs-0"></div>
    </div>
  </div>
</div>
