<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav id="menu-offscroll" class="navbar navbar-default lgx-navbar">
                            <div class="container">
                                <nav class="navbar navbar-default lgx-navbar">
                                    <div class="lgxcontainer">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <div class="lgx-logo">
                                                <a href="/new/index.html" class="lgx-scroll">
                                                    <img src="/assets/img/owasp-logo-large.png" alt="Logo" width="50"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav lgx-nav">
                                                <!-- <li>
                                                     <a href="index.html" class="dropdown-toggle disabled"
                                                        data-toggle="dropdown">Pages<b class="caret"></b></a>
                                                     <ul class="dropdown-menu multi-level">
                                                         <li><a href="index.html">Home (Default)</a></li>
                                                         <li><a href="index-banner.html">Home Banner</a></li>
                                                         <li><a href="index-typed.html">Home Typed</a></li>
                                                         <li><a href="index-slider.html">Home Slider</a></li>
                                                         <li><a href="index-contentslider.html">Home ContentSlider</a></li>
                                                         <li class="dropdown-submenu">
                                                             <a href="index.html" class="dropdown-toggle disabled"
                                                                data-toggle="dropdown">Inner Pages <b class="caret"></b></a>
                                                             <ul class="dropdown-menu">
                                                                 <li class="dropdown-submenu">
                                                                     <a href="#lgx-blog"
                                                                        class="lgx-scroll dropdown-toggle disabled"
                                                                        data-toggle="dropdown">Blog<b
                                                                             class="caret"></b></a>
                                                                     <ul class="dropdown-menu">
                                                                         <li><a href="blog-list.html">Blog List</a></li>
                                                                         <li><a href="blog-single.html">Blog Single</a></li>
                                                                     </ul>
                                                                 </li>
                                                                 <li class="dropdown-submenu">
                                                                     <a href="#lgx-speakers"
                                                                        class="lgx-scroll dropdown-toggle disabled"
                                                                        data-toggle="dropdown">Speakers<b
                                                                             class="caret"></b></a>
                                                                     <ul class="dropdown-menu">
                                                                         <li><a href="speakers-list.html">Speakers List</a></li>
                                                                         <li><a href="speaker-single.html">Speakers Single</a></li>
                                                                     </ul>
                                                                 </li>
                                                                 <li><a href="sponsors-list.html">Sponsors</a></li>
                                                                 <li><a href="gallery.html">Video</a></li>
                                                                 <li><a href="contact.html">Contact</a></li>
                                                             </ul>
                                                         </li>
                                                     </ul>
                                                 </li>-->
                                                <li><a class="lgx-scroll" href="/new/about.html">About</a></li>
                                                <li><a class="lgx-scroll" href="/new/workshops.html">Workshops</a></li>
                                                <li><a class="lgx-scroll" href="/new/participants.html">Participants</a></li>
                                                <li><a class="lgx-scroll" href="/new/venue.html">Venue</a></li>
                                                <li><a class="lgx-scroll" href="/new/sponsors.html">Sponsors</a></li>
                                                <li><a class="lgx-scroll" href="/new/summit-organization.html">Summit Organization</a></li>
                                                <!--<li><a class="lgx-scroll" href="#lgx-blog">News</a></li>-->
                                                <!--<li><a class="lgx-scroll" href="contact.html">Contact</a></li>-->
                                                <li><a class="lgx-scroll lgx-btn" href="/new/buy-ticket.html"><span>Buy Ticket</span></a></li>
                                            </ul>
                                        </div>
                                        <!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                            <!-- /.container -->
                        </nav>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER-->
    </div>
</header>
<!--HEADER END-->


{% if page.title != 'index' %}

    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-inner-bg" style="height:200px;">
                <div class="lgx-inner" >
                    <div class="container" >
                        <div class="row" style="position:absolute;top:100px;">
                            <div class="col-xs-12" >
                                <h2>{{page.title}}</h2>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
{% endif %}