
<div class="tickets">
  <div class="participants-table">
    <h1>{{ page.title }}<a href="/pages/for-editors">Back to Editor's pages</a></h1>{% assign tickets       = site.data.mapped.tickets.by_Ticket          %}
    {% assign totals        = site.data.mapped.tickets.stats.count        %}
    {% assign no-regonline  = site.data.mapped.tickets.stats.no_regonline %}
    {% assign regonline     = totals | minus, no-regonline                %}
    <h3>{{site.data.mapped.tickets.by_Type.24h.size }}x 24h tickets</h3>
    <textarea>
      Full Name, Job Title, Company
      {{ site.data.mapped.tickets.by_Type.24h }}
    </textarea>
    <h3>{{site.data.mapped.tickets.by_Type.8h.size }}x 8h tickets</h3>
    <textarea>{{ site.data.mapped.tickets.by_Type.8h }}</textarea>
    <h3>Tables</h3>
    <table class="table table-striped">
      <thead>
        <th class="large-column"> Ticket type</th>
        <th>Count</th>
        <th>Names</th>
      </thead>{% for ticket in tickets  %}
      <tr class="text-center">
        <td class="text-center">{{ ticket[0] }}</td>
        <td>{{ ticket[1].stats.count }}</td>
        <td>{{ ticket[1].names  | join: ' , ' }}</td>
      </tr>{% endfor %}
    </table>
    <h4>Total # Participants: {{ totals }}</h4>
    <p>with:</p>
    <ul>
      <li>{{ regonline    }} registered on Regonline</li>
      <li>{{ no-regonline }} not registered on Regonline</li>
    </ul>
  </div>
</div>