
<div class="tickets">
  <div class="participants-table">
    <h1>{{ page.title }}<a href="/pages/for-editors">Back to Editor's pages</a></h1>{% assign delegates = site.data.mapped.lodges.day_delegates %}
    <p>Here is the list of the current day delegates {{ names }}</p>
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Location</th>
        <th>Arrival Time</th>
        <th>Departure Time</th>
        <th>Arrival method</th>
      </thead>
      <tbody class="text-center">{% for delegate in delegates  %}
        <tr>
          <td>{{ forloop.index       }}</td>
          <td>{{ delegate.first_Name }}</td>
          <td>{{ delegate.last_Name  }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
</div>