
<div class="tickets">
  <div class="participants-table">
    <h1>Participant's Tickets<a href="/pages/for-editors">Back to Editor's pages</a></h1>
    <h3>With Tickets</h3>{% assign participants = site.data.mapped.participants | where_exp: 'item', "item.metadata.type == 'participant' " | where_exp: 'item', "item.metadata.ticket != ''" %}
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th class="large-column">name (title)</th>
        <th></th>
        <th>ticket</th>
        <th>when-day</th>
        <th>regonline</th>
      </thead>{% for participant in participants  %}
      {%    assign metadata = participant.metadata      %}
      <tr class="text-center regonline-{{metadata.regonline}}">
        <td class="text-center">{{ forloop.index }}</td>
        <td><a href="{{ participant.url }}" target="_blank">{{ participant.name }}</a></td>
        <td><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ participant.url | replace: '.html','.md'}}" target="_blank">edit</a></td>
        <td>{{ metadata.ticket }}</td>
        <td>{{ metadata.when-day }}</td>
        <td>{{ metadata.regonline }}</td>
      </tr>{% endfor %}
    </table>
    <hr/>
    <h3>Without Tickets</h3>{% assign participants = site.data.mapped.participants | where_exp: 'item', "item.metadata.ticket == ''" %}
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th class="large-column">name (title)</th>
        <th></th>
        <th>ticket</th>
        <th>when-day</th>
        <th>regonline</th>
      </thead>{% for participant in participants  %}
      {%    assign metadata = participant.metadata      %}
      <tr class="text-center regonline-{{metadata.regonline}}">
        <td class="text-center">{{ forloop.index }}</td>
        <td><a href="{{ participant.url }}" target="_blank">{{ participant.name }}</a></td>
        <td><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ participant.url | replace: '.html','.md'}}" target="_blank">edit</a></td>
        <td>{{ metadata.ticket }}</td>
        <td>{{ metadata.when-day }}</td>
        <td>{{ metadata.regonline }}</td>
      </tr>{% endfor %}
    </table>
  </div>
</div>