
<div class="tickets">
  <div class="participants-table">
    <h1>{{ page.title }}<a href="/pages/for-editors">Back to Editor's pages</a></h1>{% assign participants = site.data.mapped.tickets.by_Participant %}
    {% assign totals        = site.data.mapped.tickets.stats.count        %}
    {% assign no-regonline  = site.data.mapped.tickets.stats.no_regonline %}
    {% assign regonline     = totals | minus, no-regonline                %}
    <h4>Total # Participants: {{ totals }}</h4>
    <ul>
      <li>{{ regonline    }} registered on Regonline</li>
      <li>{{ no-regonline }} not registered on Regonline</li>
    </ul>
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Regonline Name</th>
        <th></th>
        <th>ticket</th>
        <th>when-day</th>
        <th>regonline</th>
      </thead>{% for participant in participants  %}
      <tr class="text-center regonline-{{participant[1].regonline}}">
        <td class="text-center">{{ forloop.index }}</td>
        <td><a href="{{ participant[1].url }}" target="_blank">{{ participant[1].regonline_Name }}</a></td>
        <td><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ participant[1].url | replace: '.html','.md'}}" target="_blank">edit</a></td>
        <td>{{ participant[1].ticket }}</td>
        <td>{{ participant[1].when-day }}</td>
        <td>{{ participant[1].regonline }}</td>
      </tr>{% endfor %}
    </table>
    <h3>Participants NOT on Regonline</h3>
    <ul>
      {% for participant in participants  %}
        {% if participant[1].regonline  == 'No' %}
      <li><a href="{{ participant[1].url }}" target="_blank">{{ participant[1].regonline_Name }}</a></li>  {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>