mixin show-session-at-time
    | {% for session in day_Data[time]              %}
    div
        a(href="{{session.url}}") {{ session.name }}
    .track-info {{ session.track }}
    | {% endfor                                     %}

mixin show-room
    | {% assign day_Data = site.data.mapped.schedule.by_Day[page.day][room] %}
    td
        h4 {{ room }}
    td
        | {% assign time = 'AM-1'  %}
        + show-session-at-time

    td
        | {% assign time = 'PM-1'  %}
        + show-session-at-time

    td
        | {% assign time = 'PM-2'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-3'  %}
        + show-session-at-time
    td
        | {% assign time = 'Eve'  %}
        + show-session-at-time
    td
        | {% assign time = 'no-time'  %}
        + show-session-at-time


.page-content
        //.container
        .schedule
            h3 {{ page.title }}
            p
                a(href='/schedule') Back to schedule list

            table.table
                thead
                    th.text-center
                    th.text-center
                        h4 AM 1 (10:00-12:00)
                    th.text-center
                        h4 PM 1 (13:00-14:30)
                    th.text-center
                        h4 PM 2 (14:30:15:40)
                    th.text-center
                        h4 PM 3 (16:00:17:30)
                    th.text-center
                        h4 Evening (20:00-23:59)
                    th.text-center
                        h4 (no-time)
                tr
                    | {% assign room = 'Room-1'  %}
                    + show-room
                tr
                    | {% assign room = 'Room-2'  %}
                    + show-room
                tr
                    | {% assign room = 'Room-3'  %}
                    + show-room
                tr
                    | {% assign room = 'Room-4'  %}
                    + show-room
                tr
                    | {% assign room = 'Room-5'  %}
                    + show-room
                tr
                    | {% assign room = 'Room-6'  %}
                    + show-room
                tr
                    | {% assign room = 'Villa-1'  %}
                    + show-room
                tr
                    | {% assign room = 'no-location'  %}
                    + show-room