include ../mixins/schedule.jade

mixin show-session-at-time
    | {% for session in day_Data[time]              %}
    div
        a(href="{{session.url}}") {{ session.name }}
        | {% if session.locked %}
        span.glyphicon.glyphicon-lock
        | {% endif             %}
    .track-info {{ session.track }}
    | {% endfor                                     %}

mixin show-room
    | {% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
    td.text-center
        .room-name {{ site.data.venue[room].name }}
        .room-key {{ room }}
    td
        | {% assign time = 'AM-1'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-1'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-2'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-3'  %}
        + show-session-at-time
    td
        | {% assign time = 'Eve'  %}
        + show-session-at-time
    td
        | {% assign time = 'no-time'  %}
        + show-session-at-time

.page-content
    .schedule
        h3 {{ page.title }}
        hr
        ul
            + add-days-links
            + add-schedule-links

            //b Daily Schedule: &#32;&#32;&#32;
            //a(href='./Mon.html'   ) Monday
            //span &#32;|&#32;
            //a(href='./Tue.html'  ) Tuesday
            //span &#32;|&#32;
            //a(href='./Wed.html') Wednesday
            //span &#32;|&#32;
            //a(href='./Thu.html' ) Thursday
            //span &#32;|&#32;
            //a(href='./Fri.html'   ) Friday
            //span &#32;|&#32;Back to &#32;
            //a(href='/pages/schedule') Schedule list

        hr
        table.table
            thead
                th.text-center
                    b location
                th.text-center
                    h4 AM 1
                    .day-time 10:00 to 12:00
                th.text-center
                    h4 PM 1
                    .day-time 13:00 to 14:30
                th.text-center
                    h4 PM 2
                    .day-time 14:30 to 15:40
                th.text-center
                    h4 PM 3
                    .day-time 16:00 to 17:30
                th.text-center
                    h4 Evening
                    .day-time 20:00 to 23:59
                //th.text-center
                    h4 (no-time)

            | {% assign locations = 'Room-1,Room-2,Room-3,Room-4,Room-5,Room-6,Villa-1,Villa-2,Villa-3,Villa-4,Villa-5,no-location' | split: ',' %}
            | {% for room in locations %}
            tr
                + show-room
            | {% endfor %}