mixin show-session-at-time
    | {% for session in track[1][time]              %}
    div
        a(href="{{session.url}}") {{ session.name }}
        | {% if session.locked                      %}
        span.glyphicon.glyphicon-lock
        | {% endif                                  %}
    .track-info {{ session.location }}
    | {% endfor                                     %}

mixin show-track
    td.text-center {{ track[0] }}
    | {% for time in times %}
    td
        + show-session-at-time
    | {% endfor%}
//mixin show-room
//    td.text-center
//        .room-name {{ site.data.venue[room].name }}
//        .room-key {{ room }}
//    td
//        | {% assign time = 'AM-1'  %}
//        + show-session-at-time
//    td
//        | {% assign time = 'PM-1'  %}
//        + show-session-at-time
//    td
//        | {% assign time = 'PM-2'  %}
//        + show-session-at-time
//    td
//        | {% assign time = 'PM-3'  %}
//        + show-session-at-time
//    td
//        | {% assign time = 'Eve'  %}
//        + show-session-at-time
//    td
//        | {% assign time = 'no-time'  %}
//        + show-session-at-time

.page-content
    .schedule
        h3 {{ page.title }}

        hr
        ul
            b Daily Schedule: &#32;&#32;&#32;
            a(href='./Mon.html'   ) Monday
            span &#32;|&#32;
            a(href='./Tue.html'  ) Tuesday
            span &#32;|&#32;
            a(href='./Wed.html') Wednesday
            span &#32;|&#32;
            a(href='./Thu.html' ) Thursday
            span &#32;|&#32;
            a(href='./Fri.html'   ) Friday
            span &#32;|&#32;Back to &#32;
            a(href='/pages/schedule') Schedule list

        hr
        table.table
            thead
                th.text-center
                    b location
                th.text-center
                    h4 AM 1
                    .day-time 10:00 to 12:00
                th.text-center
                    h4 PM 1
                    .day-time 13:00 to 14:30
                th.text-center
                    h4 PM 2
                    .day-time 14:30 to 15:40
                th.text-center
                    h4 PM 3
                    .day-time 16:00 to 17:30
                th.text-center
                    h4 Evening
                    .day-time 20:00 to 23:59
                th.text-center
                    h4 (no-time)

            | {% assign tracks = site.data.mapped.schedule.by_Track[page.day] %}
            | {% assign times = "AM-1,PM-1,PM-2,PM-3,Eve,no-time" | split: ',' %}


            | {% for track in tracks %}
            tr
                + show-track
                //    + show-room
            | {% endfor %}
            //tr
            //    | {% assign room = 'Room-1'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Room-2'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Room-3'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Room-4'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Room-5'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Room-6'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Villa-1'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Villa-2'  %}
            //    + show-room
            //tr
            //    | {% assign room = 'Villa-3'  %}
            //    + show-room
            //
            //tr
            //    | {% assign room = 'no-location'  %}
            //    + show-room