include ../mixins/schedule.jade

mixin show-session-at-time
    | {% for session in day_Data[time]              %}
    div.visible-print-block
        span.for-print {{session.name }}
    div.hidden-print
        a(href="{{session.url}}") {{ session.name }}
        | {% if session.locked %}
        span.glyphicon.glyphicon-lock
        | {% endif             %}
    .track-info {{ session.track }}
    //.track-info Room layout: {{ session.layout }}
    | {% endfor                                     %}

mixin show-room
    | {% assign day_Data = site.data.mapped.schedule.by_Room[page.day][room] %}
    td.text-center
        .room-name {{ site.data.venue[room].name }}
        .room-key {{ room }}
        .div.hidden-print
            | {% if site.data.venue[room].live-stream %}
            b
                a(href='{{site.data.venue[room].live-stream}}') Live Stream
            | {% endif %}
    td
        | {% assign time = 'AM-1'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-1'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-2'  %}
        + show-session-at-time
    td
        | {% assign time = 'PM-3'  %}
        + show-session-at-time
    td
        | {% assign time = 'Eve'  %}
        + show-session-at-time
    td
        | {% assign time = 'no-time'  %}
        + show-session-at-time

.page-content
    .schedule
        div.visible-print-block
            img(style="width:200px" src='/website/assets/img/blocks/logo-small.png' alt='owasp summit small logo')

        div.visible-print-block
            h1 {{ page.title }}
        div.hidden-print
            h3 {{ page.title }} schedule ({{ page.day }})
        hr.hidden-print
        div.hidden-print
            ul
                + add-days-links
                + add-schedule-links
        hr.hidden-print
        table.table
            thead
                th.text-center
                    b location
                th.text-center
                    h4 AM 1
                    .day-time 10:30 to 12:30 (2h)
                th.text-center
                    h4 PM 1
                    .day-time 13:30 to 15:00 (1.5h)
                th.text-center
                    h4 PM 2
                    .day-time 15:30 to 16:40 (1h)
                th.text-center
                    h4 PM 3
                    .day-time 16:30 to 17:30 (1h)
                th.text-center
                    h4 Evening
                    .day-time 20:30 to 23:59 (3.5h)
                //th.text-center
                    h4 (no-time)

            | {% assign locations = 'Room-1,Room-2,Room-3,Room-4,Room-5,Room-6,Villa-1,Villa-2,Villa-4,Villa-5,Villa-3,no-location' | split: ',' %}
            | {% for room in locations %}
            tr
                + show-room
            | {% endfor %}
