
<div class="container">
  <h1>Thank you for an amazing Summit</h1>
  <p>After 5 days of hard work, everybody was still smiling :)</p><img width="898" alt="owasp-summit-group-photo-2" src="https://user-images.githubusercontent.com/656739/27252412-e1367c3e-5355-11e7-8809-285c3f0b9a47.png"/>
  <h3>Outcomes</h3>
  <p>We are currently mapping the Summit Outcomes into the &#32</p><a href="/Outcomes">Outcomes</a><span>&#32 area.</span>
  <p>If you were an Organiser or Participant of an Working Session please spend some time reviewing the outcomes and making sure we didn't miss anything</p>
</div>