
<div class="participants-table">{% assign workshops = site.pages | where: 'type', 'workshop' %}
  <h1>Working Session's Table<a href="/pages/for-editors">Back to Editor's pages</a></h1>
  <h2>Metadata view</h2>
  <p>Here are all Working Session's metadata. Summit Editors should make sure that all all Working Sessions have mapped their contact information and content</p>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>name (title)</th>
      <th>track</th>
      <th>technologies</th>
      <th>organizers</th>
      <th>participants</th>
      <th># words</th>
      <th>status</th>
      <th>actions</th>
    </thead>{% for page in workshops%}
    <tr>
      <td class="text-center">{{ forloop.index }}</td>
      <td><a href="{{page.url}}" target="_blank">{{ page.title }}</a></td>
      <td><a href="/Working-Sessions/{{ page.track | replace: ' ', '-'}}" target="_blank">{{ page.track }}</a></td>
      <td>{{ page.technology }}</td>
      <td>{{ page.organizers }}</td>
      <td>{{ page.participants }}</td>
      <td class="text-center">{{ page.content | strip_html | number_of_words}}</td>
      <td class="text-center">
        {% case page.status %}
        {% when 'draft' %}
        <div class="label label-primary">{{ page.status }}</div>{% when 'done' %}
        <div class="label label-success">done</div>{% when 'empty' %}
        <div class="label label-danger">empty</div>{% else %}
        <div class="label label-warning">{{ page.status }}</div>{% endcase %}
      </td>
      <td><a href="{{ page.url }}" target="_blank">view</a><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}" target="_blank">edit</a></td>
    </tr>{% endfor %}
  </table>
  <hr/>
  <h2>Content view</h2>
  <p>Here are all Working Sessions content. Summit editors should make sure each Working Session has a good description of his current industry profile and areas that they want to focus at the Summit</p>
  <table class="table table-striped">
    <thead>
      <th>name (title)</th>
      <th>actions</th>
      <th>status</th>
      <th>content</th>
    </thead>{% for page in workshops %}
    <tr>
      <td>
        <h3>{{ page.title }}</h3>
      </td>
      <td><a href="{{ page.url }}" target="_blank">view</a><a href="https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}" target="_blank">edit</a>
      </td>
      <td>
        {% case page.status %}
        {% when 'draft' %}
        <div class="label label-primary">{{ page.status }}</div>{% when 'done' %}
        <div class="label label-success">done</div>{% when 'empty' %}
        <div class="label label-danger">empty</div>{% else %}
        <div class="label label-warning">{{ page.status }}</div>{% endcase %}
      </td>
      <td>{{ page.content }}</td>
    </tr>{% endfor %}
  </table>
</div>