doctype html
html
    head
        | {% include blocks/header.html             %}
    body
        | {% include blocks/menu.html               %}

        | {% include blocks/home-banner.html        %}
        | {% include blocks/summit-intro.html       %}
        | {% include blocks/featured-ws.html        %}
        | {% include blocks/get-your-ticket.html    %}
        | {% include blocks/footer.html             %}
//        | {% include blocks/scripts.html            %}
