doctype html
html
    head
        | {% include blocks/header.html %}
    body
        .lgx-container
            | {% include blocks/menu.html %}

            | {% include blocks/logo-and-quote.html %}
        | {% include blocks/footer.html %}
        | {% include blocks/scripts.html %}
