doctype html
html
    head
        | {% include blocks/header.html             %}
    body
        | {% include blocks/menu.html               %}
        | {% include blocks/all-ws.html             %}
        | {% include blocks/footer.html             %}
