.schedule {
  background-color: #f9f9f9;
  padding:10px;
  table {
    td {
      a {
        font-size: 80%;
      }
      .track {
        font-size: 80%;
      }
      .track-info  {
        font-size: 8px;
        padding:0px;
      }
      hr {
        //border-bottom: 0.5px solid;
        border-color : #ededed;
        padding: 0px;
        margin: 0px;
      }
    }
  }

}