.schedule-track {
  .glyphicon-lock {
    color       : #ff7b7d;
    font-size   : 10px   ;
    padding     : 5px    ;
  }
  .glyphicon-warning-sign {
    color       : #ff7b7d;
    font-size   : 10px   ;
    padding     : 5px    ;
  }

  .time {
    font-size: 16px;
  }

  .location  {
    font-size: 8px;
    padding:0px;
  }
}