
<div class="featured-ws">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <h1>Featured Working Sessions</h1>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          {% for page in site.pages %}
            {% if page.title and page.type == 'workshop' and page.status == 'featured' %}
          <div class="col-xs-6 col-sm-4">
            <div class="ws-box">
              <div class="ws-title"><a href="{{page.url}}">{{page.title | truncate: 45 }}</a></div>
              <div class="ws-description"> {{page.description | truncate: 180 }}</div>
            </div>
          </div>  {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <h1>Other Working Sessions</h1>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          {% for page in site.pages %}
            {% if page.title and page.type == 'workshop' and page.status != 'featured' %}
          <div class="col-xs-6 col-sm-4">
            <div class="ws-box">
              <div class="ws-title"><a href="{{page.url}}">{{page.title | truncate: 45 }}</a></div>
              <div class="ws-description"> {{page.description | truncate: 180 }}</div>
            </div>
          </div>  {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
  </div>
</div>