
<div class="featured-ws">
  <div class="container">
    {% include blocks/tracks.html %}
    {% include blocks/topics.html %}
    <!--.row-->
    <!--    .col-xs-0-->
    <!--    .col-xs-12-->
    <!--        h1 Featured Working Sessions-->
    <!--        p Here are this week's Featured Working Sessions.-->
    <!--    .col-xs-0-->
    <!--.row-->
    <!--    .col-xs-0-->
    <!--    .col-xs-12-->
    <!--        .row-->
    <!---->
    <!--            | {% for working-session in site.data.mapped.working-sessions %}-->
    <!--            |   {% if working-session[1].metadata.type == 'workshop' and working-session[1].metadata.status == 'featured' %}-->
    <!--            .col-xs-6.col-sm-4-->
    <!--                .ws-box-->
    <!--                    .ws-title-->
    <!--                        a(href="{{working-session[1].url }}") {{working-session[1].name | truncate: 45 }}-->
    <!--                    .ws-description  {{working-session[1].metadata.description | truncate: 180 }}-->
    <!--            |   {% endif %}-->
    <!--            | {% endfor %}-->
    <!--    .col-xs-0-->
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-12">
        <h1>Working Sessions</h1>
        <p>Here are the other Working Sessions that we will occur at the Summit which have reached a good level of thinking and maturity (see list of draft Working Sessions below)</p>
      </div>
      <div class="col-xs-0"></div>
    </div>
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-12">
        <ol>
          {% for working-session in site.data.mapped.working-sessions %}
            {% if working-session[1].metadata.type == 'workshop' and working-session[1].metadata.status != 'featured' and working-session[1].metadata.status != 'draft' %}
          <li><a href="{{working-session[1].url}}">{{working-session[1].name }}</a></li>  {% endif %}
          {% endfor %}
        </ol>
      </div>
      <div class="col-xs-0"></div>
    </div>
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-12">
        <h1>Draft Working Sessions</h1>
        <p>Here are the working sessions that are currently being worked on, but need more content and help. If you want to be involved please make the changes on GitHub and send a Pull Request with your ideas.</p>
        <p>If you feel that there is missing working session that we NEED to have at the Summit, please create it.</p>
        <ol>
          {% for working-session in site.data.mapped.working-sessions %}
            {% if working-session[1].metadata.type == 'workshop' and working-session[1].metadata.status != 'featured' and working-session[1].metadata.status == 'draft' %}
          <li><a href="{{working-session[1].url}}">{{working-session[1].name }}</a></li>  {% endif %}
          {% endfor %}
        </ol>
      </div>
      <div class="col-xs-0"></div>
    </div>
  </div>
</div>