
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-0"></div>
      <div class="col-xs-12">
        <h1>Blog</h1>
        <p>Summit blog with latest news, thinking and participant's posts.</p>
      </div>
      <div class="col-xs-0"></div>
    </div>{% for page in site.posts                         %}
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <div class="card-top">
            <div class="title"><a href="{{ page.url }}">
                <h3>{{ page.title }}</h3></a></div>
              {% assign match = site.pages | where: 'title', page.author %}
              {% if match[0] %}
            <div class="author"><a href="{{match[0].url}}">{{ match[0].title }}</a></div>  {% else %}
            <div class="author">{{ page.author }}</div>  {% endif %}
            <div class="date">{{ page.date | date: "%-d %B" }}</div>
          </div>
          <div class="card-block">{{ page.content | strip_html | truncate: 250}}
          </div>
        </div>
      </div>
    </div>{% endfor                                        %}
  </div>
</div>