
<div class="featured-ws">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-0"></div>
      <div class="col-xs-12 col-sm-12">
        <h1>Featured Working Sessions</h1>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-0"></div>
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          {% for working-session in site.data.mapped.working-sessions %}
            {% if working-session[1].metadata.type == 'workshop' and working-session[1].metadata.status == 'featured'%}
          <div class="col-xs-6 col-sm-4">
            <div class="ws-box">
              <div class="ws-title"><a href="{{working-session[1].url}}">{{working-session[1].name | truncate: 45 }}</a></div>
              <div class="ws-description"> {{working-session[1].metadata.description | truncate: 180 }}</div>
            </div>
          </div>  {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-0 col-sm-0"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-0"></div>
      <div class="col-xs-12 col-sm-12"><a href="{{ site.data.links.working-sessions}}" class="btn btn-primary"><span class="plus-sign">+</span><span>See all working sessions</span></a></div>
      <div class="col-xs-0 col-sm-0"></div>
    </div>
  </div>
</div>