
<!-- FOOTER-->
<footer>
  <div id="lgx-footer" class="lgx-footer">
    <div class="lgx-footer-bg">
      <div class="lgx-inner">
        <div class="container">
          <div class="footer-social">
            <ul class="list-inline">
              <li><a href="#" class="sp-fb"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="sp-tw"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="sp-google"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="sp-in"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="sp-"><i class="fa fa-soundcloud"></i></a></li>
              <li><a href="#" class="sp-"><i class="fa fa-video-camera"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>