
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-0"></div>
      <div class="col-xs-6 col-sm-6">
        <h2>Code of Conduct</h2>
        <p>The OWASP Summit is dedicated to providing a harassment-free event experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of summit participants in any form in any summit venue, including working sessions, social events, or other channels of communication. A summit participant who violates these rules will be asked to stop. Should the participant not comply, the participant may be expelled from the summit without a refund. The summit organisers reserve the right to expel anyone who violates these rules.</p>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h2>Contact</h2>
        <p>OWASP Foundation</p>
        <p>1200-C Agora Drive, #232</p>
        <p>Bel Air, MD 21014</p>
        <p>USA</p>
        <p>+1 951-692-7703 (tel)</p>
        <p>+1 443-283-4021(fax)</p>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h2>Follow Us</h2><a href="https://twitter.com/owaspsummit" target="_blank"><img src="/website/assets/img/blocks/twitter.png"/></a><a href="https://github.com/OWASP/owasp-summit-2017" target="_blank"><img src="/website/assets/img/blocks/github.png"/></a>
      </div>
      <div class="col-xs-0 col-sm-0"></div>
    </div>
  </div>
</div>
<!-- FOOTER-->
<!--footer
#lgx-footer.lgx-footer
    .lgx-footer-bg
        .lgx-inner
            .container
                .footer-social
                    ul.list-inline
                        li
                            a.sp-fb(href='#')
                                i.fa.fa-facebook
                        li
                            a.sp-tw(href='#')
                                i.fa.fa-twitter
                        li
                            a.sp-google(href='#')
                                i.fa.fa-google-plus
                        li
                            a.sp-in(href='#')
                                i.fa.fa-linkedin
                        li
                            a.sp-(href='#')
                                i.fa.fa-soundcloud
                        li
                            a.sp-(href='#')
                                i.fa.fa-video-camera
-->