
<div class="get-your-ticket">
  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <div class="title">Get your ticket</div>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box green-box">
          <div class="ticket-type">Summit + Accommodation</div>
          <div class="price">£1,200<span class="currency">GBP</span></div>
          <div class="ticket-duration">5 days x 24h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast, lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Dinner and drinks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Accommodation in Villa (4 nights)</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="green-box">
          <div class="buy-ticket">
            <button class="btn btn-primary"><a href="{{ site.data.links.buy-ticket }}">Buy Ticket</a></button>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box blue-box">
          <div class="ticket-type">Summit Only Ticket</div>
          <div class="price">£400<span class="currency">GBP</span></div>
          <div class="ticket-duration">5 days x 8h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="blue-box">
          <div class="buy-ticket">
            <button class="btn btn-primary"><a href="{{ site.data.links.buy-ticket }}">Buy Ticket</a></button>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
  </div>
</div>