
<!-- BANNER-->
<section>
  <div class="lgx-banner">
    <div class="lgx-banner-style">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-4"><img src="/website/assets/img/blocks/OWASP-Summit-2017-logo.png" width="900"/></div>
            <div class="col-xs-6"><span class="quote-title">12-16 JUNE 2017, LONDON</span><br/><span class="quote-text">The Unconference for Development and Security</span></div>
            <div class="col-xs-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>