
<!-- HEADER-->
<header>
  <div id="lgx-header">
    <div class="lgx-header-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav id="menu-offscroll" class="navbar navbar-default">
              <!--nav.navbar.lgx-navbar.lgxcontainer-->
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div class="lgx-logo"><a href="/new/index.html"><img src="/website/assets/img/blocks/logo-small.png"/></a></div>
              </div>
              <div class="collapse navbar-collapse blocks-menu">
                <ul class="nav navbar-nav">
                  <li><a href="/new/about.html">About</a></li>
                  <li><a href="/new/working-sessions.html">Working Sessions</a></li>
                  <li><a href="/new/participants.html">Participants</a></li>
                  <li><a href="/new/venue.html">Venue</a></li>
                  <li><a href="/new/sponsors.html">Sponsors</a></li>
                  <li><a href="/new/summit-organization.html">Summit Organization</a></li>
                  <button class="btn btn-primary"><a href="/new/buy-ticket.html">Buy Ticket</a></button>
                  <!--    a.lgx-scroll.lgx-btn(href='/new/buy-ticket.html')span Buy Ticket
                  -->
                </ul>
              </div>
            </nav>
            <!--.container
            //nav.navbar.navbar-default.lgx-navbar
                .lgxcontainer
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        .lgx-logo
                            a.lgx-scroll(href='/new/index.html')
                                img(src='/website/assets/img/owasp-logo-large.png', alt='Logo', width='50')
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.lgx-nav
                            li
                                a.lgx-scroll(href='/new/about.html') About
                            li
                                a.lgx-scroll(href='/new/working-sessions.html') Working Sessions
                            li
                                a.lgx-scroll(href='/new/participants.html') Participants
                            li
                                a.lgx-scroll(href='/new/venue.html') Venue
                            li
                                a.lgx-scroll(href='/new/sponsors.html') Sponsors
                            li
                                a.lgx-scroll(href='/new/summit-organization.html') Summit Organization
                            li
                                a.lgx-scroll.lgx-btn(href='/new/buy-ticket.html')
                                    span Buy Ticket
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>