
<div class="summit-intro">
  <div class="container">
    <h1>Next Summit: 4th - 8th June 2018</h1>
    <div class="lgx-countdown-area">
      <div id="lgx-countdown" data-date="2018/06/04"></div>
    </div>
    <p>We will be organising the next Summit in 2018</p>
    <p>Same place, same format, same amazing energy and outcomes</p>
    <h2>the question is 'Will you be there?</h2>
    <h2>Get Your Tickets</h2>
    <div class="small-12 medium-8 medium-centered large-8 large-centered columns">
      <div style="width:100%; text-align:left;"></div>
      <iframe src="//eventbrite.be/tickets-external?eid=39825671656&amp;ref=etckt" frameborder="0" height="275" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left"><a style="color:#ADB0B6; text-decoration:none;" target="_blank" href="http://www.eventbrite.be" class="powered-by-eb">Ticket registrations with Eventbrite</a></div>
    </div>
  </div>
</div>