
<div class="summit-intro">
  <div class="container">
    <section>
      <div class="container home-banner">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-4"><img src="/website/assets/img/blocks/OWASP-Summit-2017-logo.png" alt="OWASP Summit 2017 logo" class="img-responsive"/></div>
          <div class="col-xs-7"><span class="quote-title">4-8 JUNE 2017, LONDON</span><br/><span class="quote-text">The Woodstock of<br/>AppSec</span>
            <div class="lgx-countdown-area">
              <div id="lgx-countdown" data-date="2018/06/04"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <h1>Next Summit - 4th - 8th June 2018</h1>
    <p>We will be organising the next Summit in 2018</p>
    <p>Same place, same format, same amazing energy and outcomes</p>
    <h2>the question is 'Will you be there?</h2><b>For tickets information please contact Francois or Seba</b>
<!--    <h3>Last summit</h3>
    <hr/><img src="/website/assets/img/summit-2017/owasp-summit-group-photo-1.jpg" style="width:100%"/>
-->
  </div>
</div>
<div class="get-your-ticket">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <div class="title">Get your ticket</div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <p>We have 4 types of tickets available at the Summit, please see below for details.</p>
        <h4>Group Discount (for the 5 day tickets)</h4>
        <ul>
          <li>If you buy 5 to 9  tickets you get 10% discount</li>
          <li>If you buy more than 10 tickets you get 20% discount</li>
        </ul>
        <h4>Buy using invoice</h4>
        <ul>
          <li>If you want to purchase via an invoice or more than 4 tickets please contact <a href='mailto:francois@devseccon.com'>Francois Raynaud</a></li>
        </ul>
        <hr/>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box green-box">
          <div class="ticket-type">Summit + Accommodation</div>
          <div class="price">£300<span class="currency">GBP</span></div>
          <div class="ticket-duration">1 day x 24h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast, lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Dinner and drinks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Accommodation in Villa (1 night)</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="green-box">
          <div class="buy-ticket"><a href="{{ site.data.links.regonline }}" class="btn btn-primary">Buy Ticket</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box blue-box">
          <div class="ticket-type">Summit Only Ticket</div>
          <div class="price">£100<span class="currency">GBP</span></div>
          <div class="ticket-duration">1 day x 8h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="blue-box">
          <div class="buy-ticket"><a href="{{ site.data.links.regonline }}" class="btn btn-primary">Buy Ticket</a></div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
    <div class="row"><br/><br/></div>
    <div class="row">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box green-box">
          <div class="ticket-type">Summit + Accommodation</div>
          <div class="price">£1,200<span class="currency">GBP</span></div>
          <div class="ticket-duration">5 days x 24h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div><br/>
          <div class="glyphicon glyphicon-ok"><span class="item">Bronze Sponsorship</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast, lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Dinner and drinks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Accommodation in Villa (4 nights)</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="green-box">
          <div class="buy-ticket"><a href="{{ site.data.links.regonline }}" class="btn btn-primary">Buy Ticket</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-5">
        <div class="ticket-box blue-box">
          <div class="ticket-type">Summit Only Ticket</div>
          <div class="price">£400<span class="currency">GBP</span></div>
          <div class="ticket-duration">5 days x 8h participant</div>
          <div class="glyphicon glyphicon-ok"><span class="item">Access to all working sessions</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">Breakfast lunch and refreshments during breaks</span></div>
          <div class="glyphicon glyphicon-ok"><span class="item">End of summit party</span></div>
        </div>
        <div class="blue-box">
          <div class="buy-ticket"><a href="{{ site.data.links.regonline }}" class="btn btn-primary">Buy Ticket</a></div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>
  </div>
</div>
