
<div class="summit-intro">
  <div class="container">
    <section>
      <div class="container home-banner">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-4"><img src="/website/assets/img/blocks/OWASP-Summit-2017-logo.png" alt="OWASP Summit 2017 logo" class="img-responsive"/></div>
          <div class="col-xs-7"><span class="quote-title">12-16 JUNE 2017, LONDON</span><br/><span class="quote-text">The Woodstock of<br/>AppSec</span>
            <div class="lgx-countdown-area">
              <div id="lgx-countdown" data-date="2017/06/12"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <h1>Next Summit - 23rd - 28th April 2018</h1>
    <p>We will be organising the next Summit in 2018</p>
    <p>Same place, same format, same amazing energy and outcomes</p>
    <h2>the question is 'Will you be there?</h2><b>For tickets information please contact Francois or Seba</b>
    {% include blocks/get-your-ticket.html %}
    <h3>Last summit</h3>
    <hr/><img src="/website/assets/img/summit-2017/owasp-summit-group-photo-1.jpg" style="width:100%"/>

  </div>
</div>
