
<!--| {% assign schedule_Data = site.data.mapped.schedule.by_Participant[page.title] %}-->
<!---->
<!--mixin add-participations-on-day-->
<!--    | {% if schedule_Data[day]                                      %}-->
<!--    li-->
<!--        b {{ day}}-->
<!--        ul-->
<!--            | {% for time in schedule_Data[day]                     %}-->
<!--            li {{ time[0] }}-->
<!--                ul-->
<!--                    | {%    for session in time[1]                  %}-->
<!--                    li-->
<!--                        a(href='{{ session.url }}') {{ session.name }}-->
<!--                        span &#32 : {{ session.location }} , {{ session.mode }}-->
<!--                        | {% if session.status == 'draft' %}-->
<!--                        span &#32 (DRAFT)-->
<!--                        | {% endif %}-->
<!--                    | {% endfor                                     %}-->
<!--            | {% endfor                                             %}-->
<!--    | {% endif                                                      %}-->
<!---->
<!--mixin add-participations-->
<!--    h2 Working Sessions Schedule-->
<!--    ul-->
<!--        | {% assign day = 'Mon' %}-->
<!--        + add-participations-on-day-->
<!--        | {% assign day = 'Tue' %}-->
<!--        + add-participations-on-day-->
<!--        | {% assign day = 'Wed' %}-->
<!--        + add-participations-on-day-->
<!--        | {% assign day = 'Thu' %}-->
<!--        + add-participations-on-day-->
<!--        | {% assign day = 'Fri' %}-->
<!--        + add-participations-on-day-->
<!--        | {% assign day = 'no-day' %}-->
<!--        + add-participations-on-day-->

<h1>{{ page.title }}</h1>
<h3>
  {{page.job-title }}
  {% if page.company != null %}
  &#32;, {{ page.company }}
  {% endif                   %}
</h3>{% if page.image != null %}<img src="{{ page.image }}" alt="{{ page.title }}" class="participant"/>{% endif %}
{{ content }}
{% include schedule/participant.html %}
<h2>contact details</h2>
<ul>{% if page.email != null %}
  <li><a href="mailto:{{ page.email }}" target="_blank">Email</a></li>{% endif %}{% if page.website != null %}
  <li><a href="{{page.website}}" target="_blank">Website</a></li>{% endif %}{% if page.twitter != null %}
  <li><a href="https://twitter.com/{{ page.twitter }}" target="_blank">Twitter</a></li>{% endif %}{% if page.linkedin-company-beta != null %}
  <li><a href="https://www.linkedin.com/company-beta/{{ page.linkedin-company-beta }}" target="_blank">LinkedIn</a></li>{% endif %}
  {% if page.linkedin != null %}
  <li><a href="https://linkedin.com/in/{{page.linkedin}}" target="_blank">LinkedIn</a></li>{% endif %}{% if page.facebook != null %}
  <li><a href="https://facebook.com/{{page.facebook}}" target="_blank">Facebook</a></li>{% endif %}
</ul><br/>
<h3>(for Working Sessions organisers)</h3>
<p>To invite {{ page.title }} to your Working Session use &#32;<code class="highlighter-rouge">invited: {{ page.title }}</code></p>
<hr/>
<p>Back to list of <a href='/website/participants.html'>all Participants</a></p>
<p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>