{% assign schedule_Data = site.data.mapped.schedule.by_Participant[page.title] %}
<!--mixin add-participations-on-day_old-->
<!--    | {% if day != null %}-->
<!--    | {%    assign day-working-sessions = site.pages | where: 'type', 'workshop' | where: 'when-day', day %}-->
<!--    b {{ day }}-->
<!--    | {% endif %}-->
<!--    ul-->
<!--        | {% for page in day-working-sessions  %}-->
<!--        | {%    if page.participants contains user or page.organizers contains user %}-->
<!--        li-->
<!--            a(href="{{page.url}}") {{ page.title }}-->
<!--            | {%    if page.organizers contains user %}-->
<!--            span &#32; (organizing)-->
<!--            | {%    endif %}-->
<!--        |{%     endif %}-->
<!--        |{%     if  working-sessions contains page.title  %}-->
<!--        li-->
<!--            a(href="{{page.url}}") {{ page.title }}-->
<!--        | {%    endif %}-->
<!--        | {% endfor %}-->
<h1>{{ page.title }}</h1>
<h3>
  {{page.job-title }}
  {% if page.company != null %}
  &#32;, {{ page.company }}
  {% endif                   %}
</h3>{% if page.image != null %}<img src="{{ page.image }}" alt="{{ page.title }}" class="participant"/>{% endif %}
{{ content }}
<h2>Working Sessions Schedule</h2>
<ul>{% assign day = 'Mon' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}{% assign day = 'Tue' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}{% assign day = 'Wed' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}{% assign day = 'Thu' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}{% assign day = 'Fri' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}{% assign day = 'no-day' %}{% if schedule_Data[day]                                      %}
  <li><b>{{ day}}</b>
    <ul>{% for time in schedule_Data[day]                     %}
      <li>{{ time[0] }}
        <ul>{%    for session in time[1]                  %}
          <li><a href="{{ session.url }}">{{ session.name }}</a><span>&#32 : {{ session.location }} , {{ session.mode }}</span>{% if session.status == 'draft' %}<span>&#32 (DRAFT)</span>{% endif %}</li>{% endfor                                     %}
        </ul>
      </li>{% endfor                                             %}
    </ul>
  </li>{% endif                                                      %}
</ul>
<h2>contact details</h2>
<ul>{% if page.email != null %}
  <li><a href="mailto:{{ page.email }}" target="_blank">Email</a></li>{% endif %}{% if page.website != null %}
  <li><a href="{{page.website}}" target="_blank">Website</a></li>{% endif %}{% if page.twitter != null %}
  <li><a href="https://twitter.com/{{ page.twitter }}" target="_blank">Twitter</a></li>{% endif %}{% if page.linkedin-company-beta != null %}
  <li><a href="https://www.linkedin.com/company-beta/{{ page.linkedin-company-beta }}" target="_blank">LinkedIn</a></li>{% endif %}
  {% if page.linkedin != null %}
  <li><a href="https://linkedin.com/in/{{page.linkedin}}" target="_blank">LinkedIn</a></li>{% endif %}{% if page.facebook != null %}
  <li><a href="https://facebook.com/{{page.facebook}}" target="_blank">Facebook</a></li>{% endif %}
</ul><br/>
<hr/>
<p>Back to list of <a href='/website/participants.html'>all Participants</a></p>
<p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>