
<div class="participants">
  <div class="container">
    <h1>Participants</h1>
    <p>To add your name to this repo please fork the repo and use<a href="https://github.com/OWASP/owasp-summit-2017/tree/master/Participants" target="_blank">&#32; these pages.</a></p>
    <p>If you want to participate remotely, see <a href='/website/participants-remote.html'>this page</a>.</p>
    <h4>Current list of Summit attendees</h4><br/>{% assign type = 'participant'               %}
    <div class="row">
      {% for item in site.data.mapped.participants  %}
      {% assign participant = item[1]               %}
      {% assign metadata    = item[1].metadata      %}
      {%    if metadata.type == type                %}
      <div class="col-xs-4 col-sm-2">
        <div class="card"><a href="{{participant.url}}">
            <div class="card-top">{% if metadata.image != '' and metadata.image != null %}<img src="{{metadata.image}}" alt="{{metadata.title | truncate: 40}}" class="img-fluid"/>{% else %}<img src="/website/assets/img/blocks/400x400.png" alt="400x400 placeholder" class="img-fluid"/>{% endif %}</div></a>
          <div class="card-block"><a href="{{participant.url}}">
              <p class="participant-name">{{ metadata.title | truncate: 40 }}</p>
              <p class="participant-title">
                {% if metadata.job-title != null %}
                {{metadata.job-title | truncate: 30}}
                {% else %}
                ...
                {% endif %}
              </p></a></div>
        </div>
      </div>{%    endif                                   %}
      {% endfor                                     %}
    </div>
    <h1>Remote Participants</h1>
    <p>This is the current list of remote participants (see the <a href='/website/participants-remote.html'>Remote Participants</a> page for more details and instructions on how to register)</p>{% assign type = 'participant-remote'               %}
    <div class="row">
      {% for item in site.data.mapped.participants  %}
      {% assign participant = item[1]               %}
      {% assign metadata    = item[1].metadata      %}
      {%    if metadata.type == type                %}
      <div class="col-xs-4 col-sm-2">
        <div class="card"><a href="{{participant.url}}">
            <div class="card-top">{% if metadata.image != '' and metadata.image != null %}<img src="{{metadata.image}}" alt="{{metadata.title | truncate: 40}}" class="img-fluid"/>{% else %}<img src="/website/assets/img/blocks/400x400.png" alt="400x400 placeholder" class="img-fluid"/>{% endif %}</div></a>
          <div class="card-block"><a href="{{participant.url}}">
              <p class="participant-name">{{ metadata.title | truncate: 40 }}</p>
              <p class="participant-title">
                {% if metadata.job-title != null %}
                {{metadata.job-title | truncate: 30}}
                {% else %}
                ...
                {% endif %}
              </p></a></div>
        </div>
      </div>{%    endif                                   %}
      {% endfor                                     %}
    </div>
  </div>
</div>