
<div class="participants">
  <div class="container">{{ content }}
    <hr/>
    <h4>Current list of remote participants</h4>
    <div class="row">
      {% for page in site.pages %}
      {%   if page.title and page.type == 'participant-remote' %}
      <div class="col-xs-4 col-sm-2">
        <div class="card"><a href="{{page.url}}">
            <div class="card-top">{% if page.image != null %}<img src="{{page.image}}" class="img-fluid"/>{% else %}<img src="/website/assets/img/blocks/400x400.png" class="img-fluid"/>{% endif %}</div></a>
          <div class="card-block"><a href="{{page.url}}">
              <p class="participant-name">{{ page.title | truncate: 40 }}</p>
              <p class="participant-title">
                {% if page.job-title != null %}
                {{page.job-title | truncate: 30}}
                {% else %}
                ...
                {% endif %}
              </p></a></div>
        </div>
      </div>{%   endif  %}
      {% endfor %}
    </div>
  </div>
</div>