
<h1>{{ page.title }}</h1>
<h3>
  {{page.job-title }}
  {% if page.company != null %}
  &#32;, {{ page.company }}
  {% endif                   %}
</h3>{% if page.image != null %}<img src="{{ page.image }}" alt="{{ page.title }}" class="participant"/>{% endif %}
{{ content }}
<!--+ add-participations-->
<h2>contact details</h2>
<ul>
  <!--+ add-email-->
  <!--+ add-website-->
  <!--+ add-twitter-->
  <!--+ add-linkedin-->
  <!--+ add-facebook-->
</ul><br/>
<hr/>
<p>Back to list of <a href='/website/participants.html'>all Participants</a></p>
<p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>