
<div class="container">
  <h3>Remote Live Streams</h3>
  <p>If you want to participate remotely, here are the links to the Google Hangouts</p>
  <div class="sponsors">
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-1">Connect to Live Stream</a></div>
          <div class="card-block">Kings (Room 1)</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-2">Connect to Live Stream</a></div>
          <div class="card-block">Portland (Room 2)</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-3">Connect to Live Stream</a></div>
          <div class="card-block">Larch (Room 3)</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-4">Connect to Live Stream</a></div>
          <div class="card-block">Montague (Room 4)</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-5">Connect to Live Stream</a></div>
          <div class="card-block">Maulden (Room 5)</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-2">
        <div class="card">
          <div class="card-top"><a href="https://hangouts.google.com/hangouts/_/owasp.org/summit-room-6">Connect to Live Stream</a></div>
          <div class="card-block">Pedley (Room 6)</div>
        </div>
      </div>
    </div>
  </div><br/>
  <p>
    Yesterday there were a couple issues with the Google Hangouts which should hopefully work better today (if you are having
    problems connecting please report them to the #OwaspSummit slack channel )
    
  </p><br/>
</div>