
<!-- *** TODO: DC: Check which ones are really needed for site funcionality ***-->
<!-- JQUERY-->
<script src="/website/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- BOOTSTRAP JS-->
<script src="/website/assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/website/assets/libs/jquery.smooth-scroll.js"></script>
<!-- SKILLS SCRIPT-->
<script src="/website/assets/libs/jquery.validate.js"></script>
<!-- adding magnific popup js library-->
<script type="text/javascript" src="/website/assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel-->
<script src="/website/assets/libs/owlcarousel/owl.carousel.min.js"></script>
<!-- COUNTDOWN-->
<script src="/website/assets/libs/countdown.js"></script>
<!-- SMOTH SCROLL-->
<script src="/website/assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="/website/assets/libs/jquery.easing.min.js"></script>
<!-- type js-->
<script src="/website/assets/libs/typed/typed.min.js"></script>
<!-- CUSTOM SCRIPT-->
<script src="/website/assets/js/custom.script.js"></script>