


    <section>
        <div class="lgx-banner">
            <div class="lgx-banner-style">
                <div class="lgx-inner">
                    <div class="container">
                        <div class="row">                        
                            <div class="col-xs-1"> </div>
                            <div class="col-xs-8">
                                <h1>THE SUMMIT</h1>
                            </div>
                            <div class="col-xs-2">
                                ...
                            </div>    
                            <div class="col-xs-1"> </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

