{% assign working-sessions = site.pages | where: 'type', 'workshop'  %}
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}  (Technology)</h1>
    <p>
      {{ page.description }}
      {{ content }}
    </p>
    <h3>Working Sessions related to {{ page.title }}</h3>
    <ul>
      {% for working-session in working-sessions %}
        {% if working-session.technology != null %}
          {% assign technologies = working-session.technology | split: ',' %}
          {% for technology in technologies %}
            {% if technology == page.title %}
      <li><a href="{{ working-session.url }}">{{ working-session.title }}</a></li>      {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>