{% assign tracks_ws_ok    = site.pages | where: 'track', page.title  | where_exp: 'item' , 'item.status != "draft"'%}
{% assign tracks_ws_draft = site.pages | where: 'track', page.title  | where_exp: 'item' , 'item.status == "draft"'%}
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}  (Track)</h1>
    <p>{{ page.description }}</p>
    <!--+ show-organizers--><br/>
    <!--+ show-participants--><br/>
    <!--+ track-schedule-->
    <h3>Working sessions in this Track</h3>
    <ul>{% for page in tracks_ws_ok %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>{% endfor %}
    </ul>{% if tracks_ws_draft.size > 0 %}
    <ul>
      <li><b>In draft status (i.e. need content):</b>
        <ul>{% for page in tracks_ws_draft %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>{% endfor %}
        </ul>
      </li>
    </ul>{% endif %}
    <!--+ show-related-to-->
    {{ content }}<br/>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>