{% assign data           = site.data.mapped.tracks[page.title]                        %}
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}  (Track)</h1>
    <p>{{ page.description }}</p>
    {% assign title = 'Organizer(s)'              %}
    {% assign list  = data.organizers             %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
    {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
    {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
    {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
    {%    endfor                                  %}<br/>{% endif                                      %}<br/>
    {% assign title = 'Participants(s)'           %}
    {% assign list  = data.participants           %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
    {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
    {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
    {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
    {%    endfor                                  %}<br/>{% endif                                      %}<br/>{% include schedule/track.html %}{% if data.related-to.size > 0                 %}
    <h3>Related Working Session(s)</h3>
    <ul>
      {%  for working-session in data.related-to  %}
      {%    if working-session .url                     %}
      <li><a href="{{working-session .url}}">{{ working-session.name }}</a></li>{%    else                                        %}
      <li> {{ working-session.name }}</li>{%    endif                                       %}
      {%  endfor                                        %}
    </ul>{%  endif                                             %}{{ content }}<br/>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>