
<div class="row">
  <div class="col-xs-0"></div>
  <div class="col-xs-12">
    <h1>Tracks</h1>
    <p>Here are the current Tracks (with multiple Working Sessions)</p>
  </div>
  <div class="col-xs-0"></div>
</div>
<div class="row">
  <div class="col-xs-0"></div>
  <div class="col-xs-12">
    <div class="row">{% for track in site.data.mapped.tracks %}
      <div class="col-xs-4 col-sm-2">
        <div class="ws-box">
          <div class="ws-title"><a href="{{track[1].url}}">{{track[1].name | truncate: 45 }}</a></div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
  <div class="col-xs-0"></div>
</div>