{% assign data = site.data.mapped.working-sessions[page.title]   %}
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="ws-metadata">
      {% if page.track != null %}
      {% assign tracks = page.track | split: ',' %}<b>Track: &#32;</b>{% for track in tracks %}<a href="/Working-Sessions/{{ track | replace: ' ' , '-' }}">{{ track }}</a>  {% if forloop.last != true %}<span>,</span>  {% endif %}
      {% endfor %}
      {% endif %}<br/>{% if data.topics.size > 0                    %}<b>Topics: &#32;</b>{%    for topic in data.topics                %}
      {%        if topic.url                        %}<a href="{{topic .url}}">{{ topic.name }}</a>{%        else                                %}<span>{{ topic.name }}</span>{%        endif                               %}
      {%        if forloop.last != true %}<span>,</span>{%        endif %}
      {%    endfor                                  %}
      {%  endif                                     %}<br/>
      {% assign title = 'Organizer(s)'              %}
      {% assign list  = data.organizers             %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
      {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
      {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
      {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
      {%    endfor                                  %}<br/>{% endif                                      %}
      {% assign title = 'Panelists(s)'              %}
      {% assign list  = data.panelists              %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
      {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
      {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
      {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
      {%    endfor                                  %}<br/>{% endif                                      %}
      {% assign title = 'Participants(s)'           %}
      {% assign list  = data.participants           %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
      {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
      {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
      {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
      {%    endfor                                  %}<br/>{% endif                                      %}
      {% assign title = 'Invited'                   %}
      {% assign list  = data.invited                %}{% if list.size > 0                           %}<b>{{title}}: &#32;</b>{%    for item in list                        %}
      {%        if item.url                         %}<a href="{{item.url}}">{{ item.name }}</a>{%        else                                %}<span>{{ item.name }}</span>{%        endif                               %}
      {%        if item.remote                      %}<span>(remotely)</span>{%        endif                               %}
      {%        if forloop.last != true             %}<span>,</span>{%        endif                               %}
      {%    endfor                                  %}<br/>{% endif                                      %}{% if page.owasp-project and page.track != 'Project Summit' %}<b>Part of the &#32;</b><a href="/Working-Sessions/Project-Summit">OWASP Project Summit</a>{% endif %}<br/><b>When: &#32;</b><a href="/pages/schedule/by-track/{{data.metadata.when-day}}.html">{{data.metadata.when-day}}</a><br/><b>Time: {{ data.metadata.when-time }}</b><br/>
      {% case data.metadata.location %}
      {% when 'Room-1' %}<b>Location: Kings</b>{% when 'Room-2' %}<b>Location: Portland</b>{% when 'Room-3' %}<b>Location: Larch</b>{% when 'Room-4' %}<b>Location: Montague</b>{% when 'Room-5' %}<b>Location: Maulden</b>{% when 'Room-6' %}<b>Location: Pedley</b>{% else %}<b>Location: {{ data.metadata.location  }}</b>{% endcase %}<br/>
      {% assign hangouts = 'https://hangouts.google.com/hangouts/_/owasp.org/' %}
      {% if data.metadata.remote %}<b>Remote link: <a href="{{ data.metadata.remote }}"> join here</a></b><br/>{% else %}
      {% case data.metadata.location %}
      {% when 'Room-1' %}<b>Remote link: <a href="{{ hangouts }}summit-room-1"> join here</a></b>{% when 'Room-2' %}<b>Remote link: <a href="{{ hangouts }}summit-room-2"> join here</a></b>{% when 'Room-3' %}<b>Remote link: <a href="{{ hangouts }}summit-room-3"> join here</a></b>{% when 'Room-4' %}<b>Remote link: <a href="{{ hangouts }}summit-room-4"> join here</a></b>{% when 'Room-5' %}<b>Remote link: <a href="{{ hangouts }}summit-room-5"> join here</a></b>{% when 'Room-6' %}<b>Remote link: <a href="{{ hangouts }}summit-room-6"> join here</a></b>{% endcase %}<br/>{% endif                   %}
    </div>
    <hr/>{{ content }}{% if data.related-to.size > 0                 %}
    <h3>Related Working Session(s)</h3>
    <ul>
      {%  for working-session in data.related-to  %}
      {%    if working-session .url                     %}
      <li><a href="{{working-session .url}}">{{ working-session.name }}</a></li>{%    else                                        %}
      <li> {{ working-session.name }}</li>{%    endif                                       %}
      {%  endfor                                        %}
    </ul>{%  endif                                             %}<br/>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>