
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% if page.organizers != null %}
    {% assign organizers = page.organizers | split: ',' %}<b>Organizer(s): &#32</b>{% for organizer in organizers %}
      {% assign match = site.pages | where: 'title', organizer %}
      {% if match[0] %}<a href="{{match[0].url}}">{{ match[0].title }}</a>  {% else %}<span>{{ organizer }}</span>  {% endif %}
      {% if forloop.last != true %}<span>,</span>  {% endif %}
    {% endfor %}
    {% endif %}{% if page.track      != null %}
    <p> Track: &#32<a href="/Working-Sessions/{{ page.track | replace: ' ' , '-' }}">{{ page.track }}</a></p>{% endif %}
    {% if page.participants != null %}
    {% assign participants = page.participants | split: ',' %}<b>Participants(s): &#32</b>{% for participant in participants %}
      {% assign match = site.pages | where: 'title', participant %}
      {% if match[0] %}<a href="{{match[0].url}}">{{ match[0].title }}</a>  {% else %}<span>{{ participant }}</span>  {% endif %}
      {% if forloop.last != true %}<span>,</span>  {% endif %}
    {% endfor %}
    {% endif %}{% if page.owasp-project and page.track != 'Project Summit' %}
    <p>Part of the &#32<a href="/Working-Sessions/Project-Summit">OWASP Project Summit</a></p>{% endif %}
    <hr/>{{ content }}<br/>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>