
<div class="working-session">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="ws-metadata">
      <!--+ show-track-->
      <!--+ show-technology-->
      <!--+ show-organizers-->
      <!--+ show-participants-->
      <!--+ show-owasp-project-->
      <!--+ show-when-day-->
    </div>
    <hr/>{{ content }}
    <!--+ show-related-to--><br/>
    <hr/>
    <p>Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a></p>
    <p>Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a></p>
  </div>
</div>