.container
    H1 The Summit is happening today (Wednesday)

    p.
        Today is the 3rd day of the summit, with many exciting Working Sessions happening.

    p For scheduling changes or other site editing requests please contact &#32;
        a(href='mailto:ambg05.amg@gmail.com') Ann-Marie Grace


    h4 You can still buy tickets!
    p.
        If you are not here but want to join us in person, note that it is possible to buy
        8h or 24h tickets until Friday
