.get-your-ticket
    .container
        .row
            .col-xs-0.col-sm-1
            .col-xs-12.col-sm-10
                .title Get your ticket
            .col-xs-0.col-sm-1
        .row
            .col-xs-0.col-sm-1
            .col-xs-12.col-sm-10
                p We have 4 types of tickets available at the Summit, please see below for details.
                h4 Group Discount (for the 5 day tickets)
                ul
                    li If you buy 5 to 9  tickets you get 10% discount
                    li If you buy more than 10 tickets you get 20% discount
                h4 Buy using invoice
                ul
                    li If you want to purchase via an invoice or more than 4 tickets please contact <a href='mailto:francois@devseccon.com'>Francois Raynaud</a>
                hr
            .col-xs-0.col-sm-1
        .row
            .col-xs-0.col-sm-1
            .col-xs-6.col-sm-5
                .ticket-box.green-box
                    .ticket-type Summit + Accommodation
                    .price £300
                        span.currency GBP
                    .ticket-duration 1 day x 24h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    .glyphicon.glyphicon-ok
                        span.item Breakfast, lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item Dinner and drinks
                    .glyphicon.glyphicon-ok
                        span.item Accommodation in Villa (1 night)
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .green-box
                    .buy-ticket
                        a(class='btn btn-primary' href='{{ site.data.links.regonline }}') Buy Ticket
            .col-xs-6.col-sm-5
                .ticket-box.blue-box
                    .ticket-type Summit Only Ticket
                    .price £100
                        span.currency GBP
                    .ticket-duration 1 day x 8h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    .glyphicon.glyphicon-ok
                        span.item Breakfast lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .blue-box
                    .buy-ticket
                        a(class='btn btn-primary' href='{{ site.data.links.regonline }}') Buy Ticket
            .col-xs-0.col-sm-1
        .row
            br
            br
        .row
            .col-xs-0.col-sm-1
            .col-xs-6.col-sm-5
                .ticket-box.green-box
                    .ticket-type Summit + Accommodation
                    .price £1,200
                        span.currency GBP
                    .ticket-duration 5 days x 24h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    br
                    .glyphicon.glyphicon-ok
                        span.item Bronze Sponsorship
                    .glyphicon.glyphicon-ok
                        span.item Breakfast, lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item Dinner and drinks
                    .glyphicon.glyphicon-ok
                        span.item Accommodation in Villa (4 nights)
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .green-box
                    .buy-ticket
                        a(class='btn btn-primary' href='{{ site.data.links.regonline }}') Buy Ticket
            .col-xs-6.col-sm-5
                .ticket-box.blue-box
                    .ticket-type Summit Only Ticket
                    .price £400
                        span.currency GBP
                    .ticket-duration 5 days x 8h participant
                    .glyphicon.glyphicon-ok
                        span.item Access to all working sessions
                    .glyphicon.glyphicon-ok
                        span.item Breakfast lunch and refreshments during breaks
                    .glyphicon.glyphicon-ok
                        span.item End of summit party
                .blue-box
                    .buy-ticket
                        a(class='btn btn-primary' href='{{ site.data.links.regonline }}') Buy Ticket
            .col-xs-0.col-sm-1
