section
    .container.home-banner
        .row
            .col-xs-1
            .col-xs-4
                img.img-responsive(src='/website/assets/img/blocks/OWASP-Summit-2017-logo.png' alt='OWASP Summit 2017 logo')
            .col-xs-7
                span.quote-title
                    | 12-16 JUNE 2017, LONDON
                br
                span.quote-text
                    | The Woodstock of
                    br
                    | AppSec
                .lgx-countdown-area
                    #lgx-countdown(data-date="2017/06/12")
