.summit-intro
    .container
        h1 Next Summit - 4th - 8th June 2018

        .lgx-countdown-area
            #lgx-countdown(data-date="2018/06/04")

        p We will be organising the next Summit in 2018

        p Same place, same format, same amazing energy and outcomes

        h2 the question is 'Will you be there?

        b For tickets information please contact Francois or Seba
        h3 Last summit
        hr
        img(src='/website/assets/img/summit-2017/owasp-summit-group-photo-1.jpg' style='width:100%')
