.summit-intro
    .container
        h1 Join Us in the Open Security Summit: 4th - 8th June 2018

        p Same place, same format, same amazing energy and outcomes

        p For more information, go to the 
          a(href='https://open-security-summit.org' target='_blank') Open Security Summit Website
