.summit-intro
    .container
        h1 The Next will be the Open Security Summit: 4th - 8th June 2018

        p Same place, same format, same amazing energy and outcomes

        h2 For more information, go to https://open-security-summit.org
