.outcome
    | {% if page.working-session != null %}
    | {%    assign name = page.working-session %}
    | {% else %}
    | {%    assign name = page.title %}
    | {% endif %}
    h1 {{ page.title }} (Summit Outcome)
    p Back to list of <a href='/outcomes'>all Outcomes</a>
    | {% if site.data.mapped.working-sessions[name].url %}
    p Original Working Session content: &#32;
        a(href='{{ site.data.mapped.working-sessions[name].url }}') {{ name }}
    | {% endif %}
    hr
    p.
        {{ content }}
    hr
    p Back to list of <a href='/outcomes'>all Outcomes</a>
    p Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
