include ../mixins/participant

.participants
    .container
        h1 Participants
        p To add your name to this repo please fork the repo and use
            a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Participants' target="_blank") &#32; these pages.
        p If you want to participate remotely, see <a href='/website/participants-remote.html'>this page</a>.
        h4 Current list of Summit attendees
        br
        | {% assign type = 'participant'               %}
        + show-participants

        h1 Remote Participants

        p This is the current list of remote participants (see the <a href='/website/participants-remote.html'>Remote Participants</a> page for more details and instructions on how to register)

        | {% assign type = 'participant-remote'               %}
        + show-participants