include ../mixins/participant

.participants
    .container
        h1 Participants

        p
            b This is the current list of Summit attendees.
        p To add your name to this repo please fork the repo and use
            a(href='https://github.com/OWASP/owasp-summit-2017/tree/master/Participants' target="_blank") &#32these pages.
        br
        .row
            | {% for page in site.pages %}
            | {%   if page.title and page.type == 'participant' %}
            .col-xs-4.col-sm-2
                +participant()
            | {%   endif  %}
            | {% endfor %}

        h1 Remote Participants

        p This is the current list of remote attendees (see the <a href='/website/participants-remote.html'>Remote Participants</a> for more details and instructions on how to register)

        .row
            | {% for page in site.pages %}
            | {%   if page.title and page.type == 'participant-remote' %}
            .col-xs-4.col-sm-2
                +participant()
            | {%   endif  %}
            | {% endfor %}