| {% assign schedule_Data = site.data.mapped.schedule.by_Participant[page.title] %}

//mixin add-participations-on-day_old
//    | {% if day != null %}
//    | {%    assign day-working-sessions = site.pages | where: 'type', 'workshop' | where: 'when-day', day %}
//    b {{ day }}
//    | {% endif %}
//    ul
//        | {% for page in day-working-sessions  %}
//        | {%    if page.participants contains user or page.organizers contains user %}
//        li
//            a(href="{{page.url}}") {{ page.title }}
//            | {%    if page.organizers contains user %}
//            span &#32; (organizing)
//            | {%    endif %}
//        |{%     endif %}
//        |{%     if  working-sessions contains page.title  %}
//        li
//            a(href="{{page.url}}") {{ page.title }}
//        | {%    endif %}
//        | {% endfor %}

mixin add-participations-on-day
    | {% if schedule_Data[day]                                      %}
    li
        b {{ day}}
        ul
            | {% for time in schedule_Data[day]                     %}
            li {{ time[0] }}
                ul
                    | {%    for session in time[1]                  %}
                    li
                        a(href='{{ session.url }}') {{ session.name }}
                        span &#32 : {{ session.location }} , {{ session.mode }}
                        | {% if session.status == 'draft' %}
                        span &#32 (DRAFT)
                        | {% endif %}
                    | {% endfor                                     %}
            | {% endfor                                             %}
    | {% endif                                                      %}

mixin add-participations
    h2 Working Sessions Schedule
    ul
        | {% assign day = 'Mon' %}
        + add-participations-on-day
        | {% assign day = 'Tue' %}
        + add-participations-on-day
        | {% assign day = 'Wed' %}
        + add-participations-on-day
        | {% assign day = 'Thu' %}
        + add-participations-on-day
        | {% assign day = 'Fri' %}
        + add-participations-on-day
        | {% assign day = 'no-day' %}
        + add-participations-on-day


mixin add-participations_old
    | {% assign user              = page.title  %}
    | {% assign working-sessions  = page.working-sessions  %}
    h2 Working Sessions Schedule
    ul
        li
            | {% assign day = 'Mon' %}
            + add-participations-on-day
        li
            | {% assign day = 'Tue' %}
            + add-participations-on-day
        li
            | {% assign day = 'Wed' %}
            + add-participations-on-day
        li
            | {% assign day = 'Thu' %}
            + add-participations-on-day
        li
            | {% assign day = 'Fri' %}
            + add-participations-on-day
        li
            | {% assign day = 'Evening' %}
            + add-participations-on-day
        li
            b
                i (not scheduled)
            | {% assign day = null %}
            | {%    assign day-working-sessions = site.pages | where: 'type', 'workshop' | where_exp: 'item', 'item.when-day == null' %}
            + add-participations-on-day

mixin add-email
    | {% if page.email != null %}
    li
        a(href='mailto:{{ page.email }}' target='_blank') Email
    | {% endif %}
mixin add-twitter
    | {% if page.twitter != null %}
    li
        a(href='https://twitter.com/{{ page.twitter }}' target='_blank') Twitter
    | {% endif %}

mixin add-linkedin
    | {% if page.linkedin-company-beta != null %}
    li
        a(href="https://www.linkedin.com/company-beta/{{ page.linkedin-company-beta }}" target="_blank") LinkedIn
    | {% endif %}


    | {% if page.linkedin != null %}
    li
        a(href="https://linkedin.com/in/{{page.linkedin}}" target="_blank") LinkedIn
    | {% endif %}

mixin add-facebook
    | {% if page.facebook != null %}
    li
        a(href="https://facebook.com/{{page.facebook}}" target="_blank") Facebook
    |{% endif %}

mixin add-website
    | {% if page.website != null %}
    li
        a(href="{{page.website}}" target="_blank") Website
    |{% endif %}



h1 {{ page.title }}
h3 {{page.job-title }}
    | {% if page.company != null %}
    | &#32;, {{ page.company }}
    | {% endif                   %}

| {% if page.image != null %}
img.participant(src='{{ page.image }}' alt='{{ page.title }}')
| {% endif %}


| {{ content }}

+ add-participations

h2 contact details
ul
    + add-email
    + add-website
    + add-twitter
    + add-linkedin
    + add-facebook
br
hr
p Back to list of <a href='/website/participants.html'>all Participants</a>
p Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
