.summit-intro
    .container
        h1 Thanks to all Summit Participants!!!!

        p After 5 days of hard work, everybody was still smiling :)

        img(src='/website/assets/img/summit-2017/owasp-summit-group-photo-1.jpg' style='width:100%')
        hr
        img(src='/website/assets/img/summit-2017/owasp-summit-group-photo-2.jpg' style='width:100%')

        h3 Outcomes

        p We are currently mapping the Summit Outcomes into the &#32
        a(href='/Outcomes') Outcomes
        span &#32 area.
        p If you were an Organiser or Participant of an Working Session please spend some time reviewing the outcomes and making sure we didn't miss anything

