.registrations
    .container
        h1 Registrations ....
        p {{site.data.registrations.size }}
        pre {{ site.data.registrations }}
        ul
            | {{ for item in site.data.registrations }}
            li ... {{ line }}
            | {{ endfor }}

        li {{site.data.registrations.members }}
        li {{site.data.registrations[1] }}