.container
    h3 Remote Live Streams

    p If you want to participate remotely, here are the links to the Google Hangouts

    .sponsors

        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-1') Connect to Live Stream
                    .card-block Kings (Room 1)
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-2') Connect to Live Stream
                    .card-block Portland (Room 2)
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-3') Connect to Live Stream
                    .card-block Larch (Room 3)
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-4') Connect to Live Stream
                    .card-block Montague (Room 4)
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-5') Connect to Live Stream
                    .card-block Maulden (Room 5)
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://hangouts.google.com/hangouts/_/owasp.org/summit-room-6') Connect to Live Stream
                    .card-block Pedley (Room 6)

    br
    p.
        Yesterday there were a couple issues with the Google Hangouts which should hopefully work better today (if you are having
        problems connecting please report them to the #OwaspSummit slack channel )

    br