.sponsors
    .container
        h1 Sponsors

        h2 Platinum Sponsors
        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top Owasp Foundation
                    .card-block 50k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.devseccon.com/' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/DevSecCon-logo.png' alt='eventbrite logo')
                    .card-block In-kind
            .col-xs-3.col-sm-2
                .card
                    .card-top OwaspSAMM project
                    .card-block 10k USD

        h2 Gold Sponsors
        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top Owasp London Chapter
                    .card-block 6.5 USD
            .col-xs-3.col-sm-2
                .card
                    .card-top OWASP Denver Chapter
                    .card-block 5k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.toreon.com/' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/toreon-logo.png' alt='Toreon logo')
                    .card-block 7.5k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.photobox.com/' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/photobox-logo.png' alt='PhotoBox Group logo')
                    .card-block 12 Tickets
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.capitalone.com/' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/Capital_One_logo.svg.png' alt='Capital One logo')
                    .card-block 6 Tickets



        h2 Silver Sponsors
        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://xebia.com/agile-software-security' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/XS_logo_RGB.jpg' alt='xebia logo')
                    .card-block 3.5k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top OWASP Belgium Chapter
                    .card-block 4k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top OWASP Netherlands Chapter
                    .card-block 4k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top OWASP German Chapter
                    .card-block 3.9k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.barracuda.com/products/webapplicationfirewall' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/Barracuda_logo.png' alt='Barracuda logo')
                    .card-block 3.5k USD
        h2 Bronze Sponsors
        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.veracode.com/' target='_blank')
                            img.img-fluid(src='http://www.dlt.com/sites/default/files/logos/Veracodelogo.png' alt='Veracode logo')
                    .card-block 2.75k USD
            .col-xs-3.col-sm-2
                .card
                    .card-top OWASP Luxembourg Chapter
                    .card-block 1.5k USD
        h2 Other
        .row
            .col-xs-3.col-sm-2
                .card
                    .card-top
                        a(href='https://www.owasp.org/index.php/NYC' target='_blank')
                            img.img-fluid(src='/website/assets/img/sponsors/ny-chapter-logo.png' alt='OWASP NYC Chapter logo')
                    .card-block 500 USD

.sponsorship-options
    .container
        h1 Sponsors
            OWASP SUMMIT 2017 SPONSORSHIP OPTIONS
        p If you are interested in one of the sponsorships packages below please contact <a href='mailto:francois@devseccon.com'>Francois Raynaud</a> or <a href='mailto:kelly.santalucia@owasp.org'>Kelly Santalucia</a>
        .row
            .col-xs-6
                h2 Platinum sponsor: $10,000 (villa and project)
                ul
                    li 5 full tickets including accommodation and foodname associated with villa
                    li  sponsor a project
                    li swag/promotional material in people accommodations
                    li logo posted on event website
                    li logo included in printed summit guide
                    li social media announcement
                    li logo on tote bag

                h2 Gold sponsor: $7,000 (project)
                ul
                    li 4 full tickets including accommodation and food
                    li sponsor a project
                    li swag/promotional material in people accommodations
                    li name right in project work
                    li logo posted on event website
                    li logo included in printed summit guide
                    li social media announcement
                    li logo on tote bag
                h2 Silver sponsor: $3,500
                ul
                    li 2 full tickets including accommodation and food
                    li swag/promotional material in people accommodations
                    li logo posted on event website
                    li logo included in printed summit guide
                    li social media announcement
                h2 Bronze sponsor: $1,500
                ul
                    li 1 full ticket including accommodation and food
                    li logo posted on event website under Bronze sponsors
                    li logo included in printed summit guide
            .col-xs-6

                h2 Other Sponsoring Opportunities:

                h4 Drinks (display of company logo co-branded)
                ul
                    li daily: $500
                    li end of summit party: $2500

                h4 Entertainment (display of company logo co-branded) - $1,500 per activity
                ul
                    li clay pigeon shooting
                    li tennis
                    li bowling
                    li …

                h4 Meals (display of company logo co-branded) - $1,500
                ul
                    li breakfast
                    li lunch
                    li dinner

                h4 Visit Bletchley Park - $3,000
                ul
                    li sponsorship of bus trip
                    li sponsorship of dinner

                h4 Villa company naming right
                ul
                    li per day: $500
                    li for 5 days: $2000

                h4 Lanyard sponsorship co-branding - $1,000 (Veracode)
                ul
                    li logo on lanyard

                h4 Badges sponsorship co-branding - $750
                ul
                    li logo on badges

                h4 Notepad sponsorship co-branding - $250
                ul
                    li supplied by sponsor
                    li located in attendee bags

                h4 Pens sponsorship co-branding - $250 (Veracode)
                ul
                    li supplied by sponsor
                    li located in attendee bags
