//.featured-ws
    .container
| {% assign technologies = site.pages | where: 'type', 'technology'  %}
.row
    .col-xs-0
    .col-xs-12
        h2 Topics / Technologies
    .col-xs-0
.row
    .col-xs-0
    .col-xs-12
        .row
            ul
                | {% for technology in technologies %}
                li
                    a(href="{{technology.url}}") {{technology.title }}
                | {% endfor %}
    .col-xs-0