| {% assign working-sessions = site.pages | where: 'type', 'workshop'  %}
.working-session
    .container
        h1 {{ page.title }}  (Technology)
        p.
            {{ page.description }}
            {{ content }}
        h3 Working Sessions related to {{ page.title }}
        ul
            | {% for working-session in working-sessions %}
            |   {% if working-session.technology != null %}
            |     {% assign technologies = working-session.technology | split: ',' %}
            |     {% for technology in technologies %}
            |       {% if technology == page.title %}
            li
                a(href='{{ working-session.url }}') {{ working-session.title }}
            |       {% endif %}
            |     {% endfor %}
            |   {% endif %}
            | {% endfor %}

        hr
        p Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a>
        p Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
