mixin show-organizers
    | {% if page.organizers != null %}
    b Organizer(s): &#32
    | {{ page.organizers }}
    | {% endif %}

mixin show-participants
    | {% if page.participants != null %}
    b Participants(s): &#32
    | {{ page.participants }}
    | {% endif %}

| {% assign tracks_ws = site.pages | where: 'track', page.title  %}
.working-session
    .container
        h1 {{ page.title }}  (Track)
        p {{ page.description }}
        h3 Working sessions in this Track
        ul
            | {% for page in tracks_ws %}
            li
                a(href='{{ page.url }}') {{ page.title }}
            | {% endfor %}
        + show-organizers
        br
        + show-participants
        hr
        | {{ content }}
        br
        hr
        p Back to list of <a href='/website/working-sessions.html'>all Working Sessions and Tracks</a>
        p Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
