.working-session
    .container
        h1 {{ page.title }}
        h4 {% if page.track      != null %} Track       : {{ page.track      }} {% endif %}
        h4 {% if page.organizers != null %} Organizer(s): {{ page.organizers }}  {% endif %}
        | {% if page.owasp-project      %}
        h4 Part of the &#32
            a(href='/Working-Sessions/OWASP-Project-Summit.html') OWASP Project Summit
        | {% endif %}
        hr
        | {{ content }}
        br
        hr
        p Back to list of <a href='/website/working-sessions.html'>all Working Sessions</a>
        p Edit this page <a href='https://github.com/OWASP/owasp-summit-2017/blob/master/{{ page.path }}'>here </a>
