---
layout: default
---

<h2>OWASP Summit 2017</h2>

<p> You can buy your ticket and <a href="https://www.regonline.com/owaspsummit2017">register now at Regonline</a> (see ticket options <a href='/Logistics/Tickets.html'>here</a>)</p>

<p> See what the Summit is all about in <a href='http://www.slideshare.net/DinisCruz/owasp-summit-2017'>this Presentation<a/><p>
    
<p><a href='http://www.slideshare.net/DinisCruz/owasp-summit-2017'>
    <img src='https://cloud.githubusercontent.com/assets/656739/22828995/1e2e41b6-ef98-11e6-9453-a5da56a1d33c.png'/>
</a>
      
<p>Owasp Summit 2017, England, 12-16 June 2017 OWASP is organizing a new Summit in 2017 focused on the collaboration between Developers and Application Security.</p>

<p>This is not a conference with uni-directional presentations, using the same model as the past two OWASP Summits in Portugal, this 5 day event will be a 16h day high energy experience, where the attendees are expected to work and collaborate really hard. Every working session will be thoroughly prepared and focused on actionable outcomes.</p>

<p>If you care about Application Security and want to collaborate with the key players in this industry, this is the event to be.</p>
    
<p>Please see below all the current Workshops, Participants and Logistic pages for this Summit</p>

<h5><a href='workshops.html'>Workshops</a></h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'workshop' %}
                <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>

<h5><a href='participants.html'>Participants</a></h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'participant' %}
                <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>
<hr>

<h5>Logistics</h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'logistic' %}
                <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>
<hr>

{{content}}
