doctype html
html
    head
        | {% include page/header.html             %}
    body
        | {% include page/menu.html               %}

        | {% include blocks/home-banner.html        %}
        | {% include blocks/summit-intro.html       %}
        | {% include blocks/featured-ws.html        %}
        | {% include blocks/get-your-ticket.html    %}
        | {% include page/footer.html             %}
        | {% include page/google-analytics.html   %}
