doctype html
html
    head
        | {% include page/header.html                   %}
    body
        | {% include page/menu.html                     %}
        | {% include blocks/next-summit.html           %}
        | {% include page/footer.html                   %}
        | {% include page/google-analytics.html         %}

