doctype html
html
    head
        | {% include page/header.html             %}
    body
        | {% include page/menu.html               %}
        | {% include blocks/all-ws.html             %}
        | {% include page/footer.html             %}
